<template>
  <div class="ag-cell-label-container">
    <div class="ag-header-cell-label">
      <span class="ag-header-cell-text">
          {{params.displayName}}
      </span>
    </div>
    <span @click="removeCol()" class="ag-icon ag-icon-cross"></span>
  </div>
</template>
<script>
  import Vue from "vue";
  export default Vue.extend({
    name: "CustomColumnHeader",
    methods: {
      removeCol() {
        this.params.remove();
      }
    }
  });
</script>
