<style scoped>
  .ag-filter-filter {
    background-color: white;
  }
  input.state3 {
    /* 3rd state for checkbox */
    opacity: 0.5;
  }
  .ag-filter {
    min-width: 50px;
  }
</style>
<template>
  <div class="ag-tab-body">
    <div class="ag-filter">
      <div class="ag-filter-header-container">
        <input class="ag-filter-filter" placeholder="Suche" type="text" v-model="search">
      </div>
      <div class="ag-filter-header-container">
        <label>
          <!-- checkbox 3 states: http://jsfiddle.net/98BMK/ -->
          <input type="checkbox" v-model="selectall" :class="selectallClass">
          (Alle)
        </label>
      </div>
    </div>
    <div class="ag-set-filter-list">
      <div class="ag-set-filter-list">
        <div style="overflow-x: auto; height: 100%; width: 100%;">
          <div style="overflow:hidden; position: relative;">
            <label class="ag-set-filter-item" v-for="value in filteredValues">
              <input type="checkbox" v-model="selected" :value="value">
              {{value || "(leer)"}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from "vue";
  export default Vue.extend({
    name: "FilterSet",
    data() {
      return {
        showHeader: true,
        values: [],
        selected: [],
        search: "",
        filter: "",
        valueGetter: null
      }
    },
    methods: {
      // checks if the filter is active
      isFilterActive() {
        return this.selected.length < this.values.length;
      },
      doesFilterPass(params){
        const value = this.valueGetter(params.node);
        return (Array.isArray(value) ? value : [value || ""]).some(
          val => this.selected.indexOf(val) !== -1
        );
      },
      getModel() {
        if(!this.isFilterActive()) {
          // filter deactivated
          return null;
        }
        return {value: this.selected};
      },
      setModel(model) {
        if(model) {
          this.selected = model.value;
        }
      },
    },
    computed: {
      filteredValues() {
        if(!this.search)  {
          return this.values;
        }
        const search = this.search.toLowerCase();
        return this.values.filter(
          val => val.toLowerCase().indexOf(search) > -1
        );
      },
      selectallClass() {
        return (this.selected.length && this.selected.length < this.values.length)
          ? "state3"
          : "";
      },
      selectall: {
        get() {
          return this.selected.length > 0;
        }, set(val) {
          this.selected = val ? this.values.slice() : [];
        }
      }
    },
    watch: {
      selected: function(val, oldVal) {
        if (val !== oldVal) {
          // notify: filter changed
          this.params.filterChangedCallback();
        }
      }
    },
    created() {
      // this.params will contain everything added to 'filterParams' column def object
      if(this.params.values) {
        this.values = this.params.values;
        this.selected = this.values;
      }
      this.valueGetter = this.params.valueGetter;
    }
  });
</script>
