<template>
  <v-layout>
    <v-flex>
      <h1>Hallo, Mail</h1>
      <p>I will send a mail to the following users:</p>
      <ul>
        <li v-for="id in users">{{id}}</li>
      </ul>
    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    name: "Mail",
    props: ["users"],
    beforeRouteEnter (to, from, next) {
      // ensure users provided
      const users = to.params.users;
      if(!users || !users.length) {
        // no users provided
        return next("/");
      }
      next();
    }
  }
</script>
