<style scoped>
  .user-root {
    max-height: calc(100vh - 64px - 36px - 32px - 16px);
  }
</style>
<style>
  select#filterType {
    /* fix look up filter dropdown overwritten by Vuetify */
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    color: black;
    border: 1px solid;
  }
</style>
<style lang="scss" scoped>
  /* small screen: navbar will be on top */
  @media(max-width: 1264px) {
    .grid-wrapper {
      max-width: calc(100vw - 64px - 16px);
    }
  }
  /* large screen: grid size will depend upon navbar state */
  @media(min-width: 1265px) {
    aside.navigation-drawer--open + nav + div .grid-wrapper {
      /* scale grid container (navbar closed) */
      max-width: calc(100vw - 64px - 16px - 300px);
    }
    aside.navigation-drawer--close + nav + div .grid-wrapper {
      /* scale grid container */

      max-width: calc(100vw - 64px - 16px);
    }
  }
  .actions button {
    /* flex-grow: 1 */
    flex: 1;
    width: 100%;
    flex-shrink: 0;
    min-width: 158px
  }
</style>
<template>

  <v-layout fill-height column class="user-root">

    <!-- first row: table -->
    <v-flex fill-height>
          <v-card style="height: 100%;">
            <v-layout column>
              <v-flex fill-height>
            <v-card-text style="height:100%;">
              <div class="grid-wrapper" style="height: 100%;">
                <ag-grid-vue
                  style="height:100%;" class="ag-theme-fresh"
                  :gridOptions="gridOptions"
                  :rowData="users"
                  :selectionChanged="gridSelectionChanged"
                  :sortChanged="gridSortChanged"
                  :filterChanged="gridFilterChanged"
                >
                </ag-grid-vue>
              </div>
            </v-card-text>
              </v-flex>
              <v-flex>
                <v-card-actions>
                  Mehrere Spalten können mit gedrückter &#x21E7 Taste sortiert und ausgewählt werden.
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>


    <!-- second row: presets and actions -->
      <v-flex d-flex column class="mt-2">
        <v-flex d-flex row>
          <v-card>
            <v-card-text>
              <v-select
                label="Preset"
                :items="preset.presets"
                item-text="name"
                item-value="id"
                v-model="preset.active"
              ></v-select>
              <v-layout row>
                <v-btn @click.native="presetSave" :disabled="!presetDirty || preset.active == 0" flat>Speichern</v-btn>
                <v-btn @click.native="presetDelete" :disabled="preset.active == 0" flat>Löschen</v-btn>
                <v-btn @click.native="presetCreate" flat>Erstellen</v-btn>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex d-flex row wrap>
          <v-card>
            <v-card-text style="height: 100%;">
              <v-layout row wrap align-center class="actions">
                <v-btn @click.native="resetGrid()">Tabelle zurücksetzen</v-btn>
                <v-btn @click.native="customColumnCreate()">Neue Spalte</v-btn>
                <v-btn :to="{name: 'new'}">Benutzer erstellen</v-btn>
                <v-btn :to="{name: 'edit', params: {id: selection.length ? selection[0] : -1}}" :disabled="selection.length != 1">Benutzer editieren</v-btn>

                <!--
                <v-btn @click.native.stop="" :disabled="!selection.length">Neuer Benutzer</v-btn>
                  <v-btn :disabled="!selection.length">Benutzer editieren</v-btn>
                  -->
                  <v-btn @click.native="removeUser" v-if="this.auth.hasRole('Admin')" :disabled="!selection.length">Benutzer löschen</v-btn>
                  <!--<v-btn :to="{name: 'mail', params: {users: selection}}" :disabled="!selection.length">Serienmail</v-btn>-->
                  <v-btn @click.native="exportCSV" :disabled="!selection.length">Export CSV</v-btn>
                  <v-btn @click.native="mailUsers" :disabled="!selection.length">Mail</v-btn>
                <v-btn
                  @click.native.exact="confirmUser(true)"
                  @click.native.shift="confirmUser(false)"
                  :disabled="!selection.length">
                    Rückmeldung
                </v-btn>
                  <!--<v-btn :disabled="!selection.length">Export PDF</v-btn>-->
              </v-layout>
              <!--
              <v-btn :disabled="!selection.length">Export CSV</v-btn>
              <v-btn :disabled="!selection.length">Export PDF</v-btn>
              -->
            </v-card-text>
          </v-card>
        </v-flex>
      </v-flex>
  </v-layout>
</template>
<script>
import "./ag-theme.scss";
import {AgGridVue} from "ag-grid-vue";

import columnDefs from "./columnDefs";
import CustomColumnHeader from "./CustomColumnHeader";
import localeText from "./agGridLocale";
import Vue from "vue";
import VSelect from "vuetify/es5/components/VSelect/VSelect";
import VCardTitle from "vuetify/es5/components/VCard/VCardTitle";
import { PropertyKeys } from "ag-grid/dist/lib/propertyKeys";
import { ColDefUtil } from "ag-grid/dist/lib/components/colDefUtil";

// fix wrong property warning
PropertyKeys.ALL_PROPERTIES.push("__ob__");
ColDefUtil.ALL_PROPERTIES.push("__ob__");

  export default {
    name: "Users",
    dependencies: ["api", "auth"],
    components: {
      VCardTitle,
      VSelect,
      "ag-grid-vue": AgGridVue
    },
    methods: {
      presetSync() {
        const presets = JSON.parse(
          JSON.stringify(
            this.preset.presets.filter(({id}) => id !== 0)
          )
        );
        this.api("users").patch(
          this.auth.user.id, {
            presets
          }
        ).then(null, () => {
          alert("Aktualisierung fehlgeschlagen");
        });
      },
      presetSave() {
        if(!this.presetDirty) {
          return;
        }
        const preset = this.presetActive;
        ["columns", "sort", "filter"].forEach(prop => {
          preset[prop] = JSON.parse(JSON.stringify(this.preset[prop]));
        });
        this.presetSync();
      },
      presetDelete() {
        if(this.preset.active === 0) {
          return;
        }
        const del = this.preset.active;
        this.preset.active = 0;
        this.preset.presets = this.preset.presets.filter(({id}) => id !== del);
        this.presetSync();
      },
      presetCreate() {
        const name = prompt("Presetname?");
        if(!name) {
          return;
        }
        let newId = 0;
        while(this.preset.presets.find(({id}) => id === ++newId));
        const preset = Object.assign({}, {
          id: newId,
          name,
          columns: JSON.parse(JSON.stringify(this.preset.columns)),
          filter: JSON.parse(JSON.stringify(this.preset.filter)),
          sort: JSON.parse(JSON.stringify(this.preset.sort))
        });
        this.preset.presets.push(preset);
        this.preset.presets.sort((a, b) => a.name > b.name ? 1 : b.name < a.name ? -1 : 0);
        this.preset.active = newId;
        this.presetSync();
      },
      removeUser() {
        if(!this.selection.length || !this.auth.hasRole("Admin")) {
          return;
        }
        Promise.map(
          this.selection,
          id => this.api("users").remove(id), {
            concurrency: 2
          }
        )
        .then(() => {
          this.reload();
        }, () => {
          alert("Löschen fehlgeschlagen!");
        })
      },
      // confirm user is active
      confirmUser(active) {
        if(!this.selection.length) {
          return;
        }
        Promise.map(
          this.selection,
          id => this.api("users").patch(id, {
            active
          }),
          {
            concurrency: 2
          }
        ).then(() => {
          this.reload();
        }, () => {
          alert("Aktualisierung fehlgeschlagen");
        })
      },
      mailUsers() {
        if(!this.selection.length) {
          return;
        }
        const mails = this.selection.map(
          selId => this.users.find(({id}) => id == selId).mail
        ).join(",");
        window.open(`mailto:${mails}`, "_self");

      },
      // export grid data as csv
      exportCSV() {
        // https://www.ag-grid.com/javascript-grid-export/
        this.gridOptions.api.exportDataAsCsv({
          onlySelected: true
        });
      },
      refreshGrid() {
        this.$nextTick(() => {
          this.gridOptions.api.columnController.autoSizeAllColumns();
        });
      },
      resetGrid() {
        this.gridOptions.api.setSortModel(null);
        this.gridOptions.api.setFilterModel(null);
      },
      customColumnCreate(name, noRefersh) {
        const headerName = name || prompt("Spaltenname?");
        if(!headerName) {
          return;
        }
        const col = {
          headerName,
          type: "custom",
          headerComponentParams: {}
        };
        col.headerComponentParams.remove = () => {
          this.gridOptions.columnDefs.splice(this.gridOptions.columnDefs.indexOf(col), 1);
          this.preset.columns.splice(this.preset.columns.indexOf(`@${headerName}`), 1);
          this.gridOptions.api.setColumnDefs(this.gridOptions.columnDefs);
          this.refreshGrid();
        };
        this.gridOptions.columnDefs.push(col);
        if(noRefersh) {
          return;
        }
        this.preset.columns.push(`@${headerName}`);
        this.gridOptions.api.setColumnDefs(this.gridOptions.columnDefs);
        this.refreshGrid();
      },
      actionMail() {
        this.$router.push({
          name: "mail",
          params: {users: this.selection}
        });
      },
      gridFilterChanged(evt) {
        this.preset.filter = evt.api.getFilterModel();
      },
      gridSortChanged(evt) {
        this.preset.sort = evt.api.getSortModel();
      },
      gridSelectionChanged(evt) {
        // get ids of selected rows
        this.selection = evt.api.getSelectedRows()
          .map(({id}) => id);
      },
      reload() {

        const service = this.api("users");

        Promise.all([
          service.find({
              query: {
                $addActive: 1,
                $sort: {
                  id: 1
                }
              }
            }
          ),
          service.find({
            query: {
              $distinct: "city",
              $sort: {
                city: 1
              }
            }
          })
        ])
        .then(([res, cities]) => {
          this.users = res;
          this.gridOptions.rowData = res;
          // attach cities to set filter
          this.gridOptions.columnDefs
              .find(def => def.field === "city")
              .filterParams.values = cities.map(({ city }) => city);
          this.refreshGrid();
        });
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.preset.active = 0;
      });
      this.api("users").get(
        this.auth.user.id, {
          query: {
            $select: ["presets"]
          }
        },
      ).then(({ presets }) => {
        // add db presets
        presets.forEach(p => this.preset.presets.push(p));
      }, () => null);
      this.reload();
    },
    computed: {
      presetActive() {
        return this.preset.presets.find(({id}) => id === this.preset.active);
      },
      presetDirty() {
        const preset = this.presetActive;
        if(!preset) {
          return false;
        }
        return ["columns", "sort", "filter"].some(
          prop => JSON.stringify(preset[prop]) !== JSON.stringify(this.preset[prop])
        );
      },
    },
    watch: {
      "preset.active"(val) {
        const preset = JSON.parse(JSON.stringify(this.presetActive));
        const oldCols = this.gridOptions.columnDefs;
        this.gridOptions.columnDefs = [oldCols[0]];
        preset.columns.forEach(col => {
          if(col[0] === "@") {
            this.customColumnCreate(col.substr(1), true);
          } else {
            this.gridOptions.columnDefs.push(
              oldCols.find(({field}) => field === col)
            );
          }
        });
        this.preset.filter = preset.filter;
        this.preset.sort = preset.sort;
        this.preset.columns = preset.columns;
        this.gridOptions.api.setColumnDefs(this.gridOptions.columnDefs);
        this.gridOptions.api.setFilterModel(this.preset.filter);
        this.gridOptions.api.setSortModel(this.preset.sort);
        this.refreshGrid();
      }
    },
    data() {
      return {
        users: null,
        selection: [],
        preset: {
          active: null,
          presets: [
            {
              id: 0,
              name: "Default",
              columns: columnDefs.slice(1).map(({field}) => field),
              sort: [],
              filter: {}
            },
          ],
          filter: {},
          sort: [],
          columns: columnDefs.slice(1).map(({field}) => field)
        },
        gridOptions: {
          autoSizePadding: 8,
          // always show filter icon
          suppressMenuHide: true,
          // add German translation
          localeText,
          // https://github.com/ag-grid/ag-grid/issues/1020
          suppressColumnVirtualisation: true,
          onColumnMoved: (evt) => {
            const key = evt.column.colDef.field || `@${evt.column.colDef.headerName}`;
            /* console.log(
              `moving ${key} from ${this.preset.columns.indexOf(key)} to ${evt.toIndex - 1}`);
            */

            // remove entry
            this.preset.columns.splice(
              this.preset.columns.indexOf(key),
              1
            );
            // re-add entry
            this.preset.columns.splice(
              evt.toIndex - 1,
              0,
              key
            );
          },
          /*
          onColumnResized({finished, columns: [col]}) {
            if(!finished) {
              return;
            }
            if(!window.colsizes) {
              window.colsizes = {};
            }
            window.colsizes[col.colDef.headerName] = col.actualWidth;
            console.log(window.colsizes);
          },
          */
          /*
          onGridReady(params){
            params.api.sizeColumnsToFit();
          },
          */
          enableColResize: true,
          enableSorting: true,
          enableFilter: true,
          rowSelection: "multiple",
          columnTypes: {
            custom: {
              suppressFilter: true,
              suppressSorting: true,
              headerComponentFramework: CustomColumnHeader,
            }
          },
          // defaultColDef: { },
          columnDefs
        },
      };
    }
  };
</script>
