<template>
  <div>
    <label>
      <input type="checkbox" v-model="checked">
      {{checked ? "aktiv" : "inaktiv"}}
    </label>
  </div>
</template>
<script>
  export default {
    name: "FilterActive",
    data() {
      return {
        checked: false
      }
    },
    methods: {
      getValue () {
        return this.checked;
      },
      isPopup () {
        return false;
      }
    },
    created() {
      // this.checked = this.params.value;
      this.checked = this.params.node.data.active;
    }
  }

</script>
