<template>
  <v-layout>
    <v-flex>
      <h1>Daten überprüfen</h1>
      <v-alert
        :value="alert"
        type="success"
        transition="scale-transition"
      >test</v-alert>
      <v-container fluid grid-list-md>
        <v-data-iterator
          :items="events"
          content-tag="v-layout"
          hide-actions
          row
          wrap
        >
          <v-toolbar
            slot="header"
            class="mb-2"
            color="indigo darken-5"
            dark
            flat
          >
            <v-toolbar-title></v-toolbar-title>
          </v-toolbar>

          <v-flex
            slot="item"
            slot-scope="props"
            xs12
            sm6
            md4
            lg3
          >
            <v-card>

              <div  class="text-xs-center">
                <v-card-title class="subheading font-weight-bold">
                  <img  v-if="props.item.file1" :src="props.item.file1"  width="150px" />


                </v-card-title>
              </div>
              <v-card-title > Alter:
                {{ props.item.title }}


              </v-card-title>

              <v-divider></v-divider>

            <!--  <div>{{today }}</div> -->
              <v-list dense>
                <v-list-tile>
                  <v-list-tile-content>Tag des Zyklus:</v-list-tile-content>
                  {{ props.item.date !="" ? props.item.date.split('T')[0] : ""}}
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>Gewicht:</v-list-tile-content>
                  {{ props.item.address}}
                </v-list-tile>
              </v-list>
              <v-divider></v-divider>
              <v-list dense>
                <v-list-tile v-show="isJoin(props.item.id)">
                  <v-list-tile-content>
                    überprüfen:
                  </v-list-tile-content>
                  <v-tooltip top>
                    <v-btn @click.native="JoinEvent(props.item)" slot="activator" color="primary" fab small dark>
                      <v-icon>check</v-icon>
                    </v-btn>
                    <span>Teilnehmen</span>
                  </v-tooltip>
                </v-list-tile>

              </v-list>
              <v-card-actions>
              <!--  <v-btn @click.native="ShowItem(props.item)" flat color="orange">Mehr anzeigen</v-btn> -->
              </v-card-actions>
            </v-card>
          </v-flex>

          <v-toolbar
            slot="footer"
            class="mt-2"
            color="indigo"
            dark
            dense
            flat
          >
            <v-toolbar-title class="subheading"></v-toolbar-title>
          </v-toolbar>
        </v-data-iterator>
      </v-container>


      <!-- edit dialog -->
      <v-dialog v-model="edit.dialog">
        <v-layout >
          <v-flex xs12 sm6 offset-sm3>
            <v-card >

              <div  class="text-xs-center">
              <googlemaps-map v-if="edit.item.location"
                :center.sync="edit.item.location"
                :zoom.sync="zoom"
                :options="mapOptions"
              >
                <googlemaps-marker
                  title="Paris"
                  :draggable="true"
                  @dragend="selectMarker"
                  v-model="edit.item.location"
                  :position="markerCenter" />
              </googlemaps-map>
              <img  :src="edit.item.file1"  width="250px" />

              <vue-audio v-if="edit.item.file2" :file="edit.item.file2"></vue-audio>
                <br>
                <v-divider></v-divider>
                <h3 class="headline mb-0">{{edit.item.title}}</h3>
                <div>
                  <v-divider></v-divider>
                  <div v-html="compiledMarkdown(edit.item.desc)"></div>
                </div>

                <v-divider></v-divider>


              <v-card-actions>
                <v-btn flat color="orange"  @click.native="edit.dialog = false">Schließen</v-btn>
              </v-card-actions>
              </div>
            </v-card>

          </v-flex>
        </v-layout>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>
<script>

  import Datepicker from "vuejs-datepicker";
  import FileUpload from 'vue-upload-component';
  import VueAudio from 'vue-audio';
  import marked from "marked";

  export default {
    name: "Eventslist",
    dependencies: ["auth", "api"],
    components: {
      FileUpload,
      Datepicker,
      'vue-audio': VueAudio
    },
    // depend on feathers. adding this adds 'this.api' to the instance
    data() {
      return {
        today:new Date().setHours(0,0,0,0),
        url: 'http://localhost:8080/test.php',
        headers1: {},
        filesUploaded: [],
        center: {
          lat: 48.853,
          lng: 2.298,
        },
        markerCenter: {
          lat: 48.853,
          lng: 2.298,
        },
        path: [
          {
            lat: 48.853,
            lng: 2.298,
          },
          {
            lat: 48.8735,
            lng: 2.2951,
          },
        ],
          mapOptions: {
      },
        userPosition: null,
          zoom: 9,
        // start with no data loaded
        events: [],
        joinevents:null,
        thanks:false,
        // information about the currently edited element
        edit: {
          // if true edit dialog is shown
          dialog: false,
          // item to edit
          item: {}
        },
        // header definition for data table
        headers: [
          // empty header for buttons
          {text: "", sortable: false}
        ],
        alert:""
      }
    },
    methods: {
      ShowItem(item){
        this.edit.item = item;
        this.edit.dialog = true;
      },
      isJoin(id){
        for (var i = 0; i < this.joinevents.length; i++){
          // look for the entry with a matching `code` value
          console.log(id)
          if (this.joinevents[i].eid == id){
            return false;
          }
        }
        return true;

      },
      compiledMarkdown (e) {
        console.log("navid" , e)
        if(e != "" && e !== null && typeof e !== 'undefined')
          return marked(e);
        else
          return "";
      },
      setUserPosition(position){
        this.userPosition = position
        this.center = this.userPosition
      },
      selectMarker(posmarker){
        console.log(posmarker);
        this.edit.item.location =posmarker.latLng.lat() +","+ posmarker.latLng.lng();  ;
      },
      deleteItem(item){
        if(confirm(`Eintrag '${item.title}' wirklich löschen?`)) {
          this.api("events")
            .remove(item.id)
            .then(() => this.reload());
        }
      },
      // save (i.e. edit or create) the item modified in the dialog
      async JoinEvent(e){
        if(e.id) {
          await this.api("joinevents")
            .create({
              uid: this.auth.user.id,
              eid: e.id,
              date: Date.now()
            })
            this.reload();
            //.then(() => reload());
          this.thanks = true;
          alert("Thanks")
        }
      },
      // (re-)load entries from database (feathers)
      reload() {
        // feathers api documentation for service: https://docs.feathersjs.com/api/databases/common.html
        this.api("events").find({
          query: {
            $sort: {
              // sort by name
              date: 2
            }
          }
        })
          .then(data => {
            // data loaded successfully, assign to local instance (defined with 'data')
            this.events = data;
          });
        this.api("joinevents").find({
          query: {
            uid:this.auth.user.id,
            $sort: {
              // sort by name
              date: 2
            }
          }
        })
          .then(data => {
            // data loaded successfully, assign to local instance (defined with 'data')
            this.joinevents = data;
          });
      }
    },
    mounted() {
      // load data when started
      this.reload();
    }
  };
</script>
