<template>
  <v-app light v-cloak>
    <v-navigation-drawer fixed v-model="drawer" app v-if="auth.loggedin">
      <!-- user information -->
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="../img/generic-avatar.png" />
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ auth.user.firstName }}
              {{ auth.user.lastName }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <!-- menu items -->
      <v-list class="pt-0" dense>
        <template v-for="(item, i) in allowedMenuItems">
          <!-- option 1: heading -->
          <v-subheader v-if="item.heading">
            {{ item.heading }}
          </v-subheader>
          <!-- option 2: spacer -->
          <v-divider v-else-if="item.divider"></v-divider>
          <!-- option 3: regular item -->
          <v-list-tile v-else :to="'/' + item.link" router>
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar dark fixed color="indigo" app>
      <v-toolbar-side-icon v-if="auth.loggedin" dark @click.native.stop="drawer = !drawer" light></v-toolbar-side-icon>
    <!--  <img src="../img/unichor_white.png" height="40" alt=""> -->
      <v-toolbar-title>
        Berechner von Fruchtbarentagen
      </v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer color="indigo">
      <v-spacer></v-spacer>
      <div class="white--text" style="margin-right: 5px">
        © {{ new Date().getFullYear() }}
        <a
          href="http://www.unichor-marburg.de"
          target="_blank"
          class="white--text"
        >
          Unichor Marburg
        </a>
        </div>
    </v-footer>
  </v-app>
</template>
<script>
  export default {
    name: "App",
    dependencies: ["auth"],
    computed: {
      allowedMenuItems() {
        return this.menuItems.filter(({role}) => {
          if(!role) {
            return true;
          }
          return this.auth.hasRole(role);
        });
      }
    },
    data: () => ({
      drawer: false,
      menuItems: [
        { icon: "notifications", text: "Fruchtbare Tage", link: "news" },
        // { icon: "folder_open", text: "Dateien", link: "files",  },
      //  { icon: "library_books", text: "Umfragen", link: "votes" },
        { icon: "account_box", text: "Meine Daten", link: "me" },
        { icon: "vpn_key", text: "Passwort ändern", link: "changepw" },
        { icon: "event", text: "Daten Validierung", link: "eventslist" },

        { divider: true, role: "Vorstand" },
        { heading: "Administration", role: "Vorstand" },
      //  { icon: "people", text: "Benutzerliste", link: "users", role: "Vorstand" },
        { icon: "event", text: "Daten eingeben", link: "events", role: "Vorstand" },
      //  { icon: "people_outline", text: "Fördermitglieder", link: "supporters", role: "Vorstand" },
        //{ icon: "insert_invitation", text: "Semestereinstellung", link: "semester", role: "Admin" },
        //{ icon: "music_note", text: "Notenverwaltung", link: "notes", role: "Vorstand" },
        //{ icon: "create", text: "Lookupdaten", link: "lookup", role: "Admin" },
      //  { icon: "update", text: "Audit Trail", link: "audit", role: "Admin" },
//        { icon: "attachment", text: "Dateien verwalten", link: "files-manage" },
        //{ icon: "library_add", text: "Umfragen verwalten", link: "votes-manage", role: "Vorstand" },
//       { icon: "pie_chart", text: "Statistiken", link: "statistics", link: "statistics" },

        { divider: true },
        { icon: "stop", text: "Abmelden", link: "logout" },
      ]
    }),
  };
</script>
