<template>
  <v-layout fill-height column>
    <v-flex fill-height>
      <h1>Audit Trail</h1>
      <p>
        Über diesen Bereich kann der aktuelle Audit Trail exportiert oder gelöscht werden.
      </p>
      <v-flex>
        <v-btn @click.native="csv" color="info">Export</v-btn>
        <v-btn @click.native="remove" color="error">Löschen</v-btn>
      </v-flex>
    </v-flex>
  </v-layout>
</template>
<script>
  import "csvexport";
  export default {
    name: "AuditTrail",
    dependencies: ["api"],
    methods: {
      csv() {
        this.api("audit").find()
        .then(res => {
          const exporter = new Export();
          exporter.downloadCsv(res);
        })
        .catch(() => {
          alert("Export fehlgeschlagen");
        });
      },
      remove() {
        if (!confirm("Wirklich alle Einträge löschen?"))  {
          return;
        }
        this.api("audit").remove(null)
        .then(() => {
          alert("Löschen erfolgreich!");
        }, () => {
          alert("Löschen fehlgeschlagen");
        });
      },
    }
  };
</script>

