<template>
  <v-layout fill-height column>
    <v-card>
      <v-card-title>
        <h1>Passwort ändern</h1>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form" lazy-validation>
        <v-layout row>
          <v-flex sm6>
            <v-text-field
              v-model="password" type="password" label="Neues Passwort"
              :rules="pwRules"
            ></v-text-field>
            <!-- <v-text-field type="email" label="E-Mail" v-model="user" :rules="mailRules" @keyup.enter="login"></v-text-field>-->
            <!--
            <v-text-field
            v-model="user" label="E-Mail" type="email"
            @keyup.enter="login"
            ></v-text-field>
            -->
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex sm6>
            <v-text-field
            v-model="password2" type="password" label="Passwort wiederholen"
            :rules="pwMatchRules"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-btn @click.native="change" :disabled="!valid || !password" primary>Passwort ändern</v-btn>
        </v-layout>
        </v-form>
      </v-card-text>
    </v-card>
  </v-layout>
</template>
<script>
  export default {
    name: "Login",
    dependencies: ["auth", "api"],
    methods: {
      change() {
        if(!this.$refs.form.validate()) {
          return;
        }
        this.api("users").patch(this.auth.user.id, {
          password: this.password
        })
        .then(() => {
          alert("Passwort erfolgreich geändert.");
        }, () => {
          alert("Passwort konnte nicht zurückgesetzt werden. Bitte Eingabe überprüfen.");
        })
        .then(() => {
          this.$refs.form.reset();
        });
      },
    },
    data() {
      return {
        password: "",
        password2: "",
        valid: false,
        pwRules: [
           v => v && v.length >= 6 || "Kennwort muss mindestens 6 Zeichen lang sein",
        ],
        pwMatchRules: [
          v => v === this.password || "Kennwörter müssen übereinstimmen"
        ]
      }
    }
  };
</script>
