<template>
  <v-layout>
    <v-flex>
      <v-form v-model="valid" ref="form" lazy-validation>
        <h1 v-show="isNew">Neuer Benutzer</h1>
        <h1 v-show="isEdit">{{ isMe ? 'Meine Daten' : 'Benutzer'}} editieren</h1>
        <div v-if="user">
          <!--Vorname-->
          <v-layout row v-if="!isMe">
            <v-flex xs2><v-subheader>Vorname</v-subheader></v-flex>
            <v-flex xs7><v-text-field prepend-icon="perm_identity" v-model="user.firstName" :rules="fNameRules" :counter="30"
                                      required></v-text-field></v-flex>
          </v-layout>
          <!--Nachname-->
          <v-layout row v-if="!isMe">
            <v-flex xs2><v-subheader>Nachname</v-subheader></v-flex>
            <v-flex xs7><v-text-field prepend-icon="account_circle" v-model="user.lastName" :rules="lNameRules" :counter="50"
                                      required></v-text-field></v-flex>
          </v-layout>
          <!--Anrede-->
          <v-layout row v-if="!isMe">
            <v-flex xs2><v-subheader>Anrede</v-subheader></v-flex>
            <v-flex xs7><v-select prepend-icon="mail" v-model="user.gender" data-vv-name="select" item-text="label" item-value="name" :items="genderItems"></v-select></v-flex>
          </v-layout>
          <!--Addresszeile 1-->
          <v-layout row>
            <v-flex xs2><v-subheader>Addresszeile 1</v-subheader></v-flex>
            <v-flex xs7><v-text-field prepend-icon="home" v-model="user.address1" :rules="addressRules" :counter="200"></v-text-field></v-flex>
          </v-layout>
          <!--Addresszeile 2-->
          <v-layout row>
            <v-flex xs2><v-subheader>Addresszeile 2</v-subheader></v-flex>
            <v-flex xs7><v-text-field prepend-icon="home" v-model="user.address2" :rules="addressRules" :counter="200"></v-text-field></v-flex>
          </v-layout>
          <!--PLZ-->
          <v-layout row>
            <v-flex xs2><v-subheader>PLZ</v-subheader></v-flex>
            <v-flex xs7><v-text-field prepend-icon="home" v-model="user.zip" :rules="zipRules" :counter="5"></v-text-field></v-flex>
          </v-layout>
          <!--Ort-->
          <v-layout row>
            <v-flex xs2><v-subheader>Ort</v-subheader></v-flex>
            <v-flex xs7><v-text-field prepend-icon="location_city" v-model="user.city" :rules="cityRules" :counter="50"></v-text-field></v-flex>
          </v-layout>
          <!--Telefon-->
          <v-layout row>
            <v-flex xs2><v-subheader>Telefon</v-subheader></v-flex>
            <v-flex xs7><v-text-field prepend-icon="phone" v-model="user.phone" :rules="phoneRules" :counter="30"></v-text-field></v-flex>
          </v-layout>
          <!--E-Mail-->
          <v-layout row>
            <v-flex xs2><v-subheader>E-Mail</v-subheader></v-flex>
            <v-flex xs7><v-text-field prepend-icon="email" v-model="user.mail" :rules="mailRules" :counter="150" required>
            </v-text-field></v-flex>
          </v-layout>
          <!--Geburtsdatum-->
          <v-layout row v-if="!isMe">
            <v-flex xs2><v-subheader>Geburtsdatum</v-subheader></v-flex>
            <v-flex xs7>
              <v-menu
                ref="menu"
                lazy
                :close-on-content-click="false"
                v-model="menu"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                max-width="290px"
                min-width="290px">
                <v-text-field
                  slot="activator"
                  v-model="user.dob"
                  prepend-icon="event"
                  readonly>
                </v-text-field>
                <v-date-picker
                  ref="picker"
                  v-model="user.dob"
                  locale="de-de"
                  no-title scrollable
                  min="1950-01-01"
                  :max="new Date().toISOString().substr(0, 10)">
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Schließen</v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>
          <!--Stimme-->
          <v-layout row v-if="!isMe">
            <v-flex xs2><v-subheader>Stimme</v-subheader></v-flex>
            <v-flex xs7><v-select prepend-icon="record_voice_over" v-model="user.voice" data-vv-name="select" :items="voiceItems"></v-select></v-flex>
          </v-layout>
          <!--Studienfach / Beruf-->
          <v-layout row v-if="!isMe">
            <v-flex xs2><v-subheader>Studienfach / Beruf</v-subheader></v-flex>
            <v-flex xs7><v-select prepend-icon="work" v-model="user.studyField" data-vv-name="select" :items="computedJobs"></v-select></v-flex>
          </v-layout>
          <!--Stimmgruppe-->
          <v-layout row v-if="!isMe">
            <v-flex xs2><v-subheader>Stimmgruppe</v-subheader></v-flex>
            <v-flex xs7><v-select prepend-icon="music_note" v-model="user.voiceGroup" data-vv-name="select" item-text="label" item-value="name" :items="voiceGroupItems"></v-select></v-flex>
          </v-layout>
          <!--Notenpfand hinterlegt-->
          <v-layout row v-if="!isMe">
            <v-flex xs2><v-subheader>Notenpfand</v-subheader></v-flex>
            <v-flex xs7><v-select prepend-icon="music_note" v-model="user.pledge" data-vv-name="select" item-text="label" item-value="name" :items="pledgeItems"></v-select></v-flex>
          </v-layout>
          <!--Rollen-->
          <v-layout row v-if="!isMe && auth.hasRole('Admin')">
            <v-flex xs2><v-subheader>Rollen</v-subheader></v-flex>
            <v-flex xs3>
              <v-checkbox v-model="user.roles" label="Admin" value="Admin"></v-checkbox>
            </v-flex>
            <v-flex xs3>
              <v-checkbox label="Vorstand" v-model="user.roles" value="Vorstand"></v-checkbox>
            </v-flex>
            <v-flex xs3>
              <v-checkbox label="Notenwart" v-model="user.roles" value="Notenwart"></v-checkbox>
            </v-flex>
          </v-layout>
          <v-layout row v-if="!isMe && auth.hasRole('Admin')">
            <v-flex xs2></v-flex>
            <v-flex xs3>
              <v-checkbox label="Stimmführer" v-model="user.roles" value="Stimmfuehrer"></v-checkbox>
            </v-flex>
            <v-flex xs3>
              <v-checkbox label="Kassenwart" v-model="user.roles" value="Kassenwart"></v-checkbox>
            </v-flex>
            <v-flex xs3>
              <v-checkbox label="Mitglied" v-model="user.roles" value="Mitglied"></v-checkbox>
            </v-flex>
          </v-layout>
          <v-layout row v-if="isMe">
            <v-flex xs2><v-subheader>In diesem Semester aktiv</v-subheader></v-flex>
            <v-flex xs3>
              <v-subheader>
                <strong>{{ active ? 'Ja' : 'Nein' }}</strong>
              </v-subheader>
            </v-flex>
          </v-layout>
          <!--Buttons-->
          <v-btn @click.native="save()" v-if="isEdit" :disabled="!valid">Speichern</v-btn>
          <v-btn @click.native="confirm()" v-if="isMe">
            {{ !active ? 'Rückmeldung' : 'Rückmeldung widerrufen'}}
          </v-btn>
          <v-btn @click.native="create()" v-if="isNew" :disabled="!valid">Erstellen</v-btn>
        </div>
      </v-form>
    </v-flex>
  </v-layout>
</template>
<script>
  import VSelect from "vuetify/es5/components/VSelect/VSelect";
  import VSubheader from "vuetify/es5/components/VSubheader/VSubheader";
  export default {
    data() {
      return {
        valid: true,
        date: null,
        menu: false,
        modal: false,
        jobs: [],
        user: null,
        fNameRules: [
          (v) => !!v || 'Dieses Feld darf nicht leer sein.',
          (v) => !v || v.length <= 20 || 'Länge des Namens muss weniger als 30 Buchstaben betragen.',
          (v) => /^([A-Za-zÄÖÜäöüß]([A-Za-z-ÄÖÜäöüß ]){0,20}|)$/.test(v) ||
            'Der Name muss nur Buchstaben enthalten.'
        ],
        lNameRules: [
          (v) => !!v || 'Dieses Feld darf nicht leer sein.',
          (v) => !v || v.length <= 50 || 'Länge des Namens muss weniger als 50 Buchstaben betragen.',
          (v) => /^([A-Za-zÄÖÜäöüß]([A-Za-z-ÄÖÜäöüß ]){0,50}|)$/.test(v) ||
            'Der Name muss nur Buchstaben enthalten.'
        ],
        mailRules: [
          (v) => !!v || 'Dieses Feld darf nicht leer sein.',
          (v) => !v || v.length <= 150
            || 'Länge der E-Mail Adresse muss weniger als 150 Buchstaben betragen.',
          (v) => /^((\w+([-.]?\w+)@\w+([-.]?\w+)(\.\w{2,3})){0,150}|)$/.test(v)
            || 'Die E-Mail Adresse muss gültig sein.'
        ],
        phoneRules: [
          (v) => !v || v.length <= 30
            || 'Länge der Telefonnummer muss weniger als 30 Ziffern betragen.',
          (v) => !v || /^([0-9-+/ ()]{0,30}|)$/.test(v)
            || 'Die Telefonnummer muss gültig sein.'
        ],
        addressRules: [
          (v) => !v || v.length <= 200
            || 'Länge der Adresse muss weniger als 200 Buchstaben betragen.',
          (v) =>  /^([A-Za-z0-9ÄÖÜäöüß ][A-Za-z0-9-.ÄÖÜäöüß ]{0,200}|)$/.test(v)
            || 'Die Adresse muss gültig sein.'
        ],
        zipRules: [
          (v) => !v || /^([0-9]{5}|)$/.test(v)
            || 'PLZ muss genau 5 Ziffern enthalten.'
        ],
        voiceGroupItems: [
          {name:"I", label:"I"},
          {name:"II", label:"II"},
          {name:" ", label: "(leer)"}
        ],
        genderItems: [
          {name:"Frau", label:"Frau"},
          {name:"Herr", label:"Herr"},
          {name:" ", label: "(leer)"}
        ],
        pledgeItems: [
          {name:"Bezahlt", label:"Bezahlt"},
          {name:"Nicht bezahlt", label:"Nicht bezahlt"},
          {name:" ", label: "(leer)"}
        ],
        cityRules: [
          (v) => !v || v.length <= 50
            || 'Länge der Stadt muss weniger als 50 Buchstaben betragen.',
          (v) =>  /^([A-Za-zÄÖÜäöüß ]{0,50}|)$/.test(v)
            || 'Der Name der Stadt muss gültig sein.'
        ],
        voiceItems:[
          'Sopran',
          'Alt',
          'Tenor',
          'Bass'
        ],
      }
    },
    components: {
      VSubheader,
      VSelect},
    name: "Edit",
    dependencies: ["api", "auth"],
    watch: {
      userId: {
        immediate: true, // run at startup
        handler (val) {
          // watch invoked: check if we want to edit a user or create a new one
          if (val) {
            this.api("users").get(this.userId, {
              query: {
                $addActive: 1
              }
            })
            .then(user => {
              this.user = user;
            });
          } else {
            this.user = {
              roles:[
                "Mitglied"
              ]
            };
          }
        },
      },
      menu (val){
        val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
      }
    },
    methods: {
      save() {
        if (this.$refs.form.validate()) {
          this.api("users")
          .patch(this.userId, this.user)
          .then(() => {
            if(!this.isMe) {
              this.$router.push({name: "users"});
            } else {
              alert("Daten erfolgreich gespeichert!");
            }
          }, () => {
            alert("Speichern fehlgeschlagen. Bitte Eingaben überprüfen!");
          });
        }
      },
      create() {
        if (this.$refs.form.validate()) {
          this.api("users")
          .create(this.user)
          .then(() => {
            this.$router.push({name: "users"});
          });
        }
      },
      confirm() {
        if(!this.isMe)  {
          return;
        }
        this.api("users").patch(this.userId, {
          active: !this.active
        }).then(() => {
          window.location.reload();
        }, () => {
          alert("Status konnte nicht verändert werden!");
        });
      }
    },
    created() {
      this.api("lookup").find({
        query: {
          $sort: {
            name: 1
          }
        }
      })
      .then(jobs => this.jobs = jobs.map(({name}) => name));
    },
    computed: {
      active() {
        return this.user && this.user.active;
      },
      isEdit() {
        return !!this.userId;
      },
      isNew() {
        return !this.userId;
      },
      isMe() {
        return this.$route.name === "me";
      },
      userId() {
        if (this.isMe) {
          // edit own config
          return this.auth.user.id;
        }
        return this.$route.params.id;
      },
      computedJobs() {
        if(
          this.isNew || !this.user || !this.user.studyField
          || this.jobs.indexOf(this.user.studyField) >= 0
        ) {
          return this.jobs;
        }
        const jobs = this.jobs.slice();
        jobs.push(this.user.studyField);
        jobs.sort();
        return jobs;
      }
    }
  }
</script>
