<template>
  <v-layout fill-height column>
    <v-card>
      <v-card-title>
        <h1>Anmeldung</h1>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" lazy-validation>
        <v-layout row>
          <v-flex sm6>
            <v-text-field type="email" label="E-Mail" v-model="user" :rules="mailRules" @keyup.enter="login"></v-text-field>
            <!--
            <v-text-field
            v-model="user" label="E-Mail" type="email"
            @keyup.enter="login"
            ></v-text-field>
            -->
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex sm6>
            <v-text-field
            v-model="password" type="password" label="Passwort"
            @keyup.enter="login"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-btn @click.native="login" :disabled="!valid || !password" primary>Anmelden</v-btn>
          <v-btn @click.native="forgot" :disabled="!valid" primary>Passwort vergessen</v-btn>
        </v-layout>
        </v-form>
      </v-card-text>
    </v-card>
  </v-layout>
</template>
<script>
  export default {
    name: "Login",
    dependencies: ["auth", "api"],
    methods: {
      forgot() {
        if(!this.user) {
          return;
        }
        this.api("forgot").create({
          mail: this.user.toLowerCase()
        })
        .then(() => {
          alert("Passwort erfolgreich zurückgesetzt. Bitte Posteingang prüfen.");
        }, () => {
          alert("Passwort konnte nicht zurückgesetzt werden. Bitte Eingabe überprüfen.");
        })
        .then(() => {
          this.password = "";
        });
      },
      login() {
        if(!this.user || !this.password) {
          return;
        }
        this.auth.login(this.user, this.password)
          .then(() => {
            this.$router.replace("/");
          }, () => {
            alert("Anmeldung fehlgeschlagen. Bitte Anmeldedaten überprüfen");
            this.password = "";
          })
      }
    },
    data() {
      return {
        user: "",
        password: "",
        valid: false,
        mailRules: [
          (v) => /^((\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})){0,150}|)$/.test(v)
            || 'Die E-Mail Adresse muss gültig sein.'
        ],
      }
    }
  };
</script>
