<template>
  <v-layout>
    <v-flex>
      <h1>Lookupdaten: Studienfach / Beruf</h1>
      <v-data-table
        class="elevation-1"
        v-if="lookups !== null"
        :items="lookups"
        :headers="headers"
        :hide-actions="true"
        no-data-text="Keine Lookupdaten vorhanden"
        style="height: calc(100% - 42px)"
      >
        <!-- template footer ('new entry' button) -->
        <template slot="footer">
          <td colspan="100%">
            <v-btn class="mt-2" @click.native="createItem()">Neuer Eintrag</v-btn>
          </td>
        </template>

        <!-- template for actual rows -->
        <template slot="items" slot-scope="props">

          <td>
            <!-- actual lookup entry name -->
            {{ props.item.name }}
          </td>

          <td align="right">

            <!-- button: edit entry -->
            <v-tooltip top>
              <v-btn @click.native="editItem(props.item)" slot="activator" color="primary" fab small dark>
                <v-icon>edit</v-icon>
              </v-btn>
              <span>Eintrag editieren</span>
            </v-tooltip>

            <!-- button: delete entry -->
            <v-tooltip top>
              <v-btn @click.native="deleteItem(props.item)" slot="activator" color="error" fab small dark>
                <v-icon>delete</v-icon>
              </v-btn>
              <span>Eintrag löschen</span>
            </v-tooltip>

          </td>
        </template>
      </v-data-table>

      <!-- edit dialog -->
      <v-dialog v-model="edit.dialog">
        <v-card>
          <v-card-title>
            <span v-if="edit.item.id">Eintrag editieren</span>
            <span v-else>Neuer Eintrag</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field ref="textfield" label="Studienfach / Beruf" v-model="edit.item.name"></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-btn color="blue darken-1" :disabled="!edit.item.name" flat @click.native="saveItem()">Speichern</v-btn>
                  <v-btn color="red darken-1" flat @click.native="edit.dialog = false">Abbrechen</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    name: "lookup",
    // depend on feathers. adding this adds 'this.api' to the instance
    dependencies: ["api"],
    data() {
      return {
        // start with no data loaded
        lookups: null,
        // information about the currently edited element
        edit: {
          // if true edit dialog is shown
          dialog: false,
          // item to edit
          item: {}
        },
        // header definition for data table
        headers: [
          {text: "Studienfach / Beruf", value: "name", align: "left"},
          // empty header for buttons
          {text: "", sortable: false}
        ],
      }
    },
    methods: {
      // delete item
      deleteItem(item){
        if(confirm(`Eintrag '${item.name}' wirklich löschen?`)) {
          this.api("lookup")
          .remove(item.id)
          .then(() => this.reload());
        }
      },
      // save (i.e. edit or create) the item modified in the dialog
      saveItem(){
        if(this.edit.item.id) {
          // existing item
          this.api("lookup")
          .patch(this.edit.item.id, {
            name: this.edit.item.name
          })
          .then(() => this.reload());
        } else {
          // new item
          this.api("lookup")
          .create({
            name: this.edit.item.name
          })
          .then(() => this.reload());
        }
        this.edit.dialog = false;
      },
      // show dialog to create new item
      createItem() {
        window.f = this.$refs.textfield;
        this.edit.item = {};
        this.edit.dialog = true;
        // set focus to text field
        this.$nextTick(this.$refs.textfield.focus);
      },
      // show dialog to edit item
      editItem(item) {
        this.edit.item = item;
        this.edit.dialog = true;
        // set focus to text field
        this.$nextTick(this.$refs.textfield.focus);
      },
      // (re-)load entries from database (feathers)
      reload() {
        // feathers api documentation for service: https://docs.feathersjs.com/api/databases/common.html
        this.api("lookup").find({
          query: {
            $sort: {
              // sort by name
              name: 1
            }
          }
        })
        .then(data => {
          // data loaded successfully, assign to local instance (defined with 'data')
          this.lookups = data;
        });
      }
    },
    mounted() {
      // load data when started
      this.reload();
    }
  };
</script>
