<template>
    <v-layout column > <!-- event card -->
          <v-flex style="flex-grow: 0.1;">
            <div id="markdown" v-html="compiledMarkdown"></div>
          </v-flex>
          <v-flex style="flex-grow: 0.1;">
            <p>

          Hinweis* : Sie müssen zur Sicherheit Ihre Temperatur jeden Tag messen wenn  Ihre Temperatur an diesem Tag der unten angezeigt 37.5 beträgt dann ist der genau der Einsprungtag sonnst ist es sehr wahrscheinlich.
          Vorauszezungen: keine Fieber.
          <br>
          Einpurgtag: der Tag, an dem  die reife Eiszelle aus dem Eierstock ausgestoßen wird.
          <br>
         Fruchtbare Tage: die Tage an denen sehr wahrscheinlich eine Schwangerschaft entsteht. Auser denen ist unwahrscheinlich eine Schangerschaft entsteht.
</p>
        </v-flex>
          <v-subheader>
          Deine Fruchtbare Tage sind
        </v-subheader>
          <!-- for loob over the events to show them in cards -->
       <v-flex v-for="event in Events" style="flex-grow: 0.1;" >

         <v-card>
           <!-- <v-img
               src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
               aspect-ratio="10"
             ></v-img> -->
           <v-card-title primary-title>
             <div>
               <!--{{event.title }}-->

               <span class="grey--text"> 3 Tage vor und nach dem :  {{datecal(event)}}  </span><br>
                <span v-html="HTMLcontent"></span>
             </div>
           </v-card-title>
           <v-card-text>
              {{ event.desc }}
           </v-card-text>
         </v-card>
       </v-flex>
       <v-flex>
         <div v-if="auth.hasRole('Admin')">
           <div v-if="canEdit">
             <v-text-field
               label="Input Markdown"
               textarea
               v-model="result"
               v-if="canEdit"
               ref="textfield"
             ></v-text-field>
             <p>
               <v-btn @click="canEdit = false">Bearbeiten beenden</v-btn>
               <v-btn @click="Save(result)">Speichern</v-btn>
             </p>
           </div>
           <div v-else>
             <v-btn @click="canEdit = true">Bearbeiten</v-btn>
                <v-btn @click="email.dialog = true">uns kontaktieren</v-btn>
                   <v-btn @click="rating.dialog = true">Bewertung</v-btn>
                <h2> Die Jezige Bewertung ist {{ rating.average }} </h2>
           </div>
         </div>

         <v-dialog v-model="email.dialog">
           <v-card>
             <v-card-title>
               <span>Email</span>
             </v-card-title>
             <v-card-text>
               <v-container grid-list-md>
                 <v-layout wrap>
                   <v-flex xs12>
                     <v-text-field ref="textfield" label="Bei Reklamation oder Verbesserungvorschläge melden Sie sich unter:  0123456789" v-model="email.subject"></v-text-field>
                     <v-text-field
                       label="Inhalt"
                       textarea
                       v-model="email.message"
                       ref="textfield"
                     ></v-text-field>
                     <!-- <v-text-field ref="textfield" label="Standort" v-model="edit.item.location"></v-text-field>
                     <v-text-field ref="textfield" label="Addresse" v-model="edit.item.address"></v-text-field> -->
                     <!-- <datepicker  placeholder="Select Date"  v-model="edit.item.date" label="Datum"></datepicker> -->
                   </v-flex>
                   <v-flex xs12>
                     <v-btn color="blue darken-1" :disabled="!email.subject" flat @click.native="send()">Senden</v-btn>
                     <v-btn color="red darken-1" flat @click.native="email.dialog = false">Abbrechen</v-btn>
                   </v-flex>
                 </v-layout>
               </v-container>
             </v-card-text>
           </v-card>
         </v-dialog>

         <v-dialog v-model="rating.dialog">
           <v-card>
             <v-card-text>
               <v-container grid-list-md>
                 <v-layout wrap>
                   <v-flex xs12>
                     <v-select
                       v-model="rating.score"
                       :items="[1,2,3,4,5]"
                       @change="selectRating"
                       label="..."
                     ></v-select>
                   </v-flex>
                 </v-layout>
               </v-container>
             </v-card-text>
           </v-card>
         </v-dialog>

       </v-flex>

     </v-layout>

</template>
<script>
  import marked from "marked";
  export default {
    name: "news",
    dependencies: ["api", "auth"],
    data () {
      return {
        result: "",
        rating: {
          dialog: false,
          score: 1,
          average: 0,
        },
        email: {
          dialog: false,
          subject: "",
          message: ""
        },
        canEdit: false,
        Events:[],
      HTMLcontent:"",
      datetemp:[],
      }
    },
    computed: {
      compiledMarkdown: function () {
        return marked(this.result);
      },


    },
    async created () {
      let ratingSum = 0;
      let allUsers = await this.api("users").find({});
      for(let user of allUsers) {
        if(user.rating)
          ratingSum += user.rating
      }

      this.rating.average = Math.round(ratingSum/allUsers.length)
      console.log("reached")
    },
    methods: {
      async selectRating(score) {
        this.rating.score = score;
        this.rating.dialog = false;
        // console.log(this.auth.user)
        // console.log()
        this.auth.user.rating = score;
        await this.api("users").update(this.auth.user.id, this.auth.user)
        .then((responseUpdate) => {
          console.log(responseUpdate)
        })
      },
      async send() {
        let subject = this.email.subject;
        let message = this.email.message;
        let eAddress = "majdolinalhasan@gmail.com";
        // let transporter = nodemailer.createTransport({
        //   host: "smtp.gmail.com",
        //   port: 465,
        //   secure: true, // true for 465, false for other ports
        //   auth: {
        //     user: "majdolinalhasan@gmail.com", // generated ethereal user
        //     pass: "Majd51in!" // generated ethereal password
        //   }
        // });
        //
        // let info = await transporter.sendMail({
        //   from: '"Fred Foo 👻" <foo@example.com>', // sender address
        //   to: eAddress, // list of receivers
        //   subject, // Subject line
        //   text: message, // plain text body
        //   html: message// html body
        // });
        // console.log("Message sent: %s", info.messageId);
        // // Preview only available when sending through an Ethereal account
        // console.log("Preview URL: %s", nodemailer.getTestMessageUrl(info));
      },
      datecal(event) {
          var D= new Date(event.date);
         var D2= new Date();
         D.setDate(D.getDate()+14);
         //var dd= D.getDate();
       //  var dd = String(D.getDate());
        // console.log(event);
      //  D2.setDate(D.getDate());
        return `${D.getUTCFullYear()}-${D.getUTCMonth()+1}-${D.getUTCDate()}`;
      },
      Save () {
        this.api("news")
        .patch(1, {
          text: this.result
        })
      },
      Edit () {
        this.canEdit = false;
        this.$nextTick(this.$refs.textfield.focus);
      },
      Load () {
        this.api("news").find({
          query: {
            $limit: 1,
            $sort: {
              id: -1
            }
          }
        })
        .then((data) => {
          this.result = data[0].text;
        })
        .catch((error) => {
          console.log(error);
        })
      },
      FetchEvents() {
        // var today = new Date(); // get the current date
        // var ntdays = new Date();
        // ntdays.setDate(today.getDate() + 3); // get the date after three days
        //
        // var dd = String(today.getDate()).padStart(2, '0'); //.padStart(2, '0') is to type zero before
        // var nd = String(today.getDate()).padStart(2, '0');
        // var mm = String(today.getMonth() + 1).padStart(2, '0');
        // var yyyy = today.getFullYear();
        //
        // var dd2 = String(ntdays.getDate()).padStart(2, '0');
        // var nd2 = String(ntdays.getDate()).padStart(2, '0');
        // var mm2 = String(ntdays.getMonth() + 1).padStart(2, '0');
        // var yyyy2 = today.getFullYear();
        // // format the date in the right form
        // today = yyyy  + '-' + mm + '-' + dd ;
        // ntdays = yyyy2  + '-' + mm2 + '-' + dd2 ;


        var data = []; // here will be the query result
        // requerst to the API "events" to query data
        this.api("events").find({
          query: {
            // date: {
            //   $lte:ntdays, // before the next three days (lte : less than or equal)
            //    $gt:today //after today (gt: greater than)
            // }
          }
        })
          .then( // JavaScript Promise :
            (data) => {
              data = data; // assign the data from the promise to the array data[]
              this.Events = data; //then assign the array data[] to this.Events
                this.datetemp=this.Events.date;
            //  this.HTMLcontent=#
            console.log(data)
          })
          .catch((error) => {
            console.log(error); // if there is Errors they will be shown in the console!
          })

      }
    },
    mounted () {
      this.Load(); // this was here to fetch "Herzlich Willkommen!"
      this.FetchEvents(); // to perform the method FetchEvents when the page is open and mounted automatically
    }
  };
</script>
