<template>
  <div>
      <v-card>
        <v-card-title>
          <h4>Semestereinstellung</h4>
        </v-card-title>
        <v-layout>
          <v-flex xs6 >
            <v-card-text >
              <v-text-field
                type="number"
                v-model="year"
                placeholder="Kalenderjahr"
                required>
              </v-text-field>
            </v-card-text>
          </v-flex>
          <v-flex xs6 >
            <v-card-text >
              <v-select
                v-model="type"
                :items="items"
                required>
              </v-select>
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12>
            <v-card-text >
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-layout >
          <v-flex xs6>
          </v-flex>
          <v-flex xs6>
            <v-card-text >
              <v-btn @click.native="update()" :enabled="this.year">Speichern</v-btn>
            </v-card-text>
          </v-flex>
        </v-layout>
      </v-card>
  </div>
</template>

<script>
  export default {
    name: "semester",
    dependencies: ["api"],
    methods: {
      update(){
        if(! this.year) {
          return;
        }
        this.api("semester").patch(1, {
          year: this.year,
          type: this.type
        }).then(null, () => {
          alert("Aktualisierung fehlgeschlagen");
        });
      },
      load() {//method "load" use to load current data (status) from method "create".
        this.api("semester").find({
          query: {
            $limit: 1
          }
        })
        .then(entr => {
          if (entr.length === 0) {
            const date = new Date(); //Function current date. ex: 17/12/2017(JavaScript)
            const currentyear = date.getFullYear();//get only year (2017)
            this.year = currentyear; //show current year
          } else {
            this.year = entr[0].year;
            this.type = entr[0].type;
          }
        });
      },
    },
    mounted() {
      this.load();
    },
    data(){
      return{
        entries: [],
        year: null,
        type: 'WS',
        items: [
          'WS',
          'SS'
        ],
      }
    },
  };
</script>
