<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-data-table
        locale="de-de"
        :headers="headers"
        :items="items"
        hide-actions
        class="elevation-1"
      > <!--table-->
        <template slot="items" slot-scope="props">
          <td class="text-xs-right">{{ props.item.vorname }}</td>
          <td class="text-xs-right">{{ props.item.name }}</td>
          <td class="text-xs-right">{{ props.item.geburtsdatum }}</td>
          <td class="text-xs-right">{{ props.item.bezahlt }}</td>
          <td class="text-xs-right">{{ props.item.bezahlart }}</td>
          <td class="text-xs-right">{{ props.item.adresse }}</td>
          <td class="text-xs-right">{{ props.item.austrittsjahr }}</td>
          <td class="text-xs-right">{{ props.item.bemerkungen }}</td>
          <td class="justify-center layout px-0">
            <v-btn icon class="mx-0" @click="editItem(props.item)">
              <v-icon color="teal">edit</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="deleteItem(props.item)">
              <v-icon color="pink">delete</v-icon>
            </v-btn>
          </td>
        </template>
        <template slot="no-data">
          <div class="text-xs-center">Keine Daten vorhanden</div>
        </template>
      </v-data-table>
      <!-- Modal Popup-->
      <!--Dialog-->
      <v-dialog v-model="dialog" persistent max-width="800px">
        <v-btn slot="activator" class="mb-2" v-on:click.stop="dialog = true" @click="clear()">Neuer Eintrag</v-btn>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-layout wrap>
                <!--Benutzer-->
                <v-flex xs3>
                  <v-subheader>Vorname</v-subheader>
                </v-flex>
                <v-flex xs9>
                  <v-text-field
                    :rules="nameRules"
                    label="Vorname"
                    v-model="editedItem.vorname"
                    prepend-icon="account_circle"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs3>
                  <v-subheader>Name</v-subheader>
                </v-flex>
                <v-flex xs9>
                  <v-text-field
                    :items="username"
                    :rules="nameRules"
                    v-model="editedItem.name"
                    label="Name"
                    required
                    prepend-icon="account_circle"
                  ></v-text-field>
                </v-flex>
                <!--Birthday-->
                <v-flex xs3>
                  <v-subheader>Geburtsdatum</v-subheader>
                </v-flex>
                <v-flex xs9>
                  <!--date picker-->
                  <v-menu
                    ref="menu1"
                    :close-on-content-click="false"
                    v-model="menu1"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="editedItem.geburtsdatum"
                      :rules="optionalRules"
                      label="Geburtsdatum"
                      prepend-icon="event"
                      readonly
                    ></v-text-field>
                    <!--<v-date-picker v-model="editedItem.bezahlt" @input="$refs.menu1.save(editedItem.bezahlt)"></v-date-picker>-->
                    <v-date-picker
                      ref="picker"
                      v-model="editedItem.geburtsdatum"
                      locale="de-de"
                      no-title scrollable
                      min="1950-01-01"
                      :max="new Date().toISOString().substr(0, 10)">
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="menu1 = false">Schließen</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
                <!--Bezahlt Datum-->
                <v-flex xs3>
                  <v-subheader>Eintrittsdatum</v-subheader>
                </v-flex>
                <v-flex xs9>
                  <!--date picker-->
                  <v-menu
                    ref="menu3"
                    :close-on-content-click="false"
                    v-model="menu3"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="editedItem.bezahlt"
                      :rules="defaultRules"
                      label="Bezahldatum"
                      prepend-icon="event"
                      readonly
                      required
                    ></v-text-field>
                    <!--<v-date-picker v-model="editedItem.bezahlt" @input="$refs.menu1.save(editedItem.bezahlt)"></v-date-picker>-->
                    <v-date-picker
                      ref="picker"
                      v-model="editedItem.bezahlt"
                      locale="de-de"
                      no-title scrollable
                      min="1950-01-01"
                      :max="new Date().toISOString().substr(0, 10)">
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="menu3 = false">Schließen</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs3>
                  <!--Bezahlart-->
                  <v-subheader>Bezahlart</v-subheader>
                </v-flex>
                <v-flex xs9>
                  <v-select
                    :items="selectData1"
                    v-model="editedItem.bezahlart"
                    :rules="defaultRules"
                    label="Bezahlart"
                    prepend-icon="assignment_turned_in"
                    item-value="text"
                    required
                  ></v-select>
                </v-flex>
                <!--Adresse-->
                <v-flex xs3>
                  <v-subheader>Adresse</v-subheader>
                </v-flex>
                <v-flex xs9>
                  <v-text-field
                    label="Adresse"
                    :rules="optionalRules"
                    v-model="editedItem.adresse"
                    prepend-icon="edit"
                  ></v-text-field>
                </v-flex>



                <!--Austrittsjahr-->
                <v-flex xs3>
                  <v-subheader>Austrittsdatum</v-subheader>
                </v-flex>
                <v-flex xs9>
                  <!--date picker-->
                  <v-menu
                    ref="menu2"
                    :close-on-content-click="false"
                    v-model="menu2"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      :rules="optionalRules"
                      v-model="editedItem.austrittsjahr"
                      label="Austrittsdatum"
                      prepend-icon="event"
                      readonly
                    ></v-text-field>
                    <!--<v-date-picker v-model="editedItem.austrittsjahr"  @input="$refs.menu2.save(editedItem.austrittsjahr)"></v-date-picker>-->
                    <v-date-picker
                      ref="picker"
                      v-model="editedItem.austrittsjahr"
                      locale="de-de"
                      no-title scrollable
                      min="1950-01-01"
                      :max="new Date().toISOString().substr(0, 10)">
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="menu2 = false">Schließen</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>

                <v-flex xs3>
                  <v-subheader>Bemerkungen</v-subheader>
                </v-flex>
                <v-flex xs9>
                  <v-text-field
                    :rules="optionalRules"
                    label="Bemerkungen"
                    v-model="editedItem.bemerkungen"
                    prepend-icon="edit"
                  ></v-text-field>
                </v-flex>

              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Schließen</v-btn>
              <v-btn color="blue darken-1" flat @click.native="save" :disabled="!valid">Speichern </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>

<script>
  import isAlpha from "validator/lib/isAlpha";
  export default {
    dependencies: ["api"],
    data: () => ({
      username: [],
      date: '',
      menu1: false,
      menu2: false,
      menu3: false,
      valid: false,
      dialog: false,
      headers: [
        { text: 'Vorname', value: 'vorname', align: 'right' },
        { text: 'Nachname', value: 'name', align: 'right' },
        { text: 'Geburtsdatum', value: 'geburtsdatum', align: 'right'},
        { text: 'Bezahlt', value: 'bezahlt',align: 'right' },
        { text: 'Bezahlart', value: 'bezahlart',align: 'right' },
        { text: 'Adresse', value: 'adresse',align: 'right' },
        { text: 'Austrittsjahr', value: 'austrittsjahr',align: 'right'},
        { text: 'Bemerkungen', value: 'bemerkungen',align: 'right' }
      ],
      items: [],
      editedIndex: -1,
      editedItem: {
        id: null,
        vorname: '',
        name: '',
        geburtsdatum: '',
        bezahlt: '',
        bezahlart: '',
        adresse: '',
        austrittsjahr: null,
        bemerkungen: ''
      },
      nameRules: [
        (v) => !!v || "Dieses Feld darf nicht leer sein.",
        (v) => !v || v.length <= 30
          || "Länge des Namens muss weniger als 30 Buchstaben betragen.",
        (v) => isAlpha(v, "en-US") || isAlpha(v, "fr-FR") || isAlpha(v, "de-DE")
          || "Der Name muss nur Buchstaben enthalten."
      ],
      defaultRules: [
        (v) => !!v || "Dieses Feld darf nicht leer sein.",
        (v) => v.length <= 300
      ],
      optionalRules: [
        (v) => !v || v.length <= 500
          || "Länge des Eintrags muss weniger als 500 Zeichen betragen.",
      ],
      defaultItem: {
        id: null,
        vorname: '',
        name: '',
        geburtsdatum: '',
        bezahlt: '',
        bezahlart: '',
        adresse: '',
        austrittsjahr: null,
        bemerkungen: ''
      },
      selectData1: [
        { text: 'Bar', value: 1},
        { text: 'Überweisung', value: 2 },
        { text: 'Lastschrift', value: 3 }
      ]
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Neuer Eintrag' : 'Eintrag bearbeiten'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      search (val) {
        val && val !== this.select && this.querySelections(val)
      },
      menu2 (val){
        val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
      menu1 (val){
        val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
      menu3 (val){
        val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.api("supporters").find()
          .then((data) => { // if data not error, api notes will return out data.
            console.log(data)
            this.items = data // data was saved in items.
          })
          .catch((err) => { // if data error
            console.log(err)
          });
        this.reload();
      },

      editItem (item) {
        // indexOf return -1(if it not found) and return 1(if it found)
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item) // assign item to editedItem
        this.dialog = true // dialog (edit) open
      },

      deleteItem (item) {
        const index = this.items.indexOf(item)
        const cfm = confirm('Sind Sie sicher, dass Sie diese Datei löschen möchten?')
        if (cfm === true) {
          this.items.splice(index, 1) // remove 1 array from index
          this.api('supporters').remove(item.id)
            .then(message => console.log(message))
            .catch(err => console.log(err))
        } else if (cfm === false) {
          console.log('Cancel')
        } else {
          console.log('error')
        }
      },

      close () { // reset all item to default Item
        this.dialog = false
        this.$refs.form.reset()
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      async save(){
        const tmp = JSON.parse(JSON.stringify(this.editedItem));
        if (this.editedIndex > -1) { // Save from edit
          // assign (new)editedItem to item
          Object.assign(this.items[this.editedIndex], this.editedItem)
          await this.api('supporters').patch(this.editedItem.id, {
            // await, prevent to crossing process
            vorname: tmp.vorname,
            name: tmp.name,
            geburtsdatum: tmp.geburtsdatum,
            bezahlt: tmp.bezahlt,
            bezahlart: tmp.bezahlart,
            adresse: tmp.adresse,
            austrittsjahr: tmp.austrittsjahr,
            bemerkungen: tmp.bemerkungen
          })
            .then(message => {
              console.log(message)
            })
            .catch(err => console.log(err))
          this.$refs.form.reset() // dialog reset
          this.close()
        }
        else {
          if (this.$refs.form.validate()) { // if validate is true
            await this.api('supporters').create({
              vorname: tmp.vorname,
              name: tmp.name,
              geburtsdatum: tmp.geburtsdatum,
              bezahlt: tmp.bezahlt,
              bezahlart: tmp.bezahlart,
              adresse: tmp.adresse,
              austrittsjahr: tmp.austrittsjahr,
              bemerkungen: tmp.bemerkungen
            })
              .then((cb) => {
                console.log(cb)
                this.items.push(cb) // push all new data (array) from api in Items (slot items)
                this.$refs.form.reset()
                this.close()
              })
              .catch((err) => {
                console.log(err)
                this.$refs.form.reset()
                return
              })
          } else {
            this.$refs.form.reset()
            this.close()
            return
          }
        }
      },

      clear () {
        this.$refs.form.reset();
      },
      //querySelections (v) {
      //this.loading = true
      // Simulated ajax query
      //setTimeout(() => {
      //this.items = this.states.filter(e => {
      //return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
      //})
      //this.loading = false
      //}, 500)
      //},
      reload() {
        this.api("users").find({
          query: {
            $sort: {
              id: 1
            }
          }
        }).then(data =>{
          var names = [];
          for (var i = 0; i < data.length ; i++){
            names.push(data[i]["firstName"] + " " + data[i]["lastName"])
          }
          this.username = names;
        });
      },
    }
  }
</script>
