 <template>
    <div class="full-width-custom">
        <!--Dialog for editing mode-->
        <v-dialog v-model="dialogEdit" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card tile>
                <v-toolbar card dark color="primary">
                    <v-btn icon dark @click.native="dialogEdit = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Edit Survey</v-toolbar-title>
                </v-toolbar>
                <div style="flex: 1 1 auto;" class="container">
                    <v-snackbar
                            :timeout="6000"
                            color="green"
                            v-model="editSnackbar"
                            :top="true">
                        Edit successful
                    </v-snackbar>

                    <input class="header-input" type="text" v-model="selectedSurvey.name">
                    <v-btn color="info" @click="editSurveyName(selectedSurveyID)">Edit Survey Name</v-btn>
                    <template v-for="(question,index) in chartQuestions">
                        <v-text-field v-model="question.question" label="Question"></v-text-field>
                        <div>
                            <v-text-field v-for="choice in question.choices" label="Choice"
                                          v-model="choice.choice"></v-text-field>
                        </div>
                        <v-btn @click="editQuestion(index)" color="info">Edit Question</v-btn>
                    </template>

                </div>
            </v-card>
        </v-dialog>
        <!--Dialog for showing chart-->
        <v-dialog v-model="dialogChart" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card tile>
                <v-toolbar card dark color="primary">
                    <v-btn icon dark @click.native="dialogChart = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>View Chart</v-toolbar-title>
                </v-toolbar>
                <div style="flex: 1 1 auto;" class="container">
                    <div v-for="(question,index) in chartQuestions">
                        <h2>{{question.question}}</h2>
                        <h4>Question Type : {{question.type}}</h4>
                        <column-chart :data="chartData[index]"></column-chart>
                    </div>
                </div>
            </v-card>
        </v-dialog>
        <!--Navbar that shows all modes if clicked on it will switch to collapsed stacked mode-->
        <div class="mode-container" v-bind:class="{'collapsed-mode' : mode!=''}">
            <div @click="selectMode('create')">
                <v-icon x-large>add</v-icon>
                <span>Create Surveys</span>
            </div>
            <div @click="selectMode('view')">
                <v-icon x-large>person</v-icon>
                <span>View Surveys</span>
            </div>
            <div @click="selectMode('edit')">
                <v-icon x-large>edit</v-icon>
                <span>Edit Surveys</span>
            </div>
            <div @click="selectMode('delete')">
                <v-icon x-large>delete</v-icon>
                <span>Delete Surveys</span>
            </div>
            <div @click="selectMode('group')">
                <v-icon x-large>group</v-icon>
                <span>Group People</span>
            </div>
            <div @click="selectMode('download')">
                <v-icon x-large>get_app</v-icon>
                <span>Download CSV File</span>
            </div>
        </div>
        <!--Download CSV mode section-->
        <div class="full-height" v-if="mode=='download'">
            <div class="text-xs-center stacked">
                <download-csv :data="users">
                    <v-btn outline large fab color="indigo">
                        <v-icon>get_app</v-icon>
                    </v-btn>
                </download-csv>
                <span>Download CSV</span>
            </div>
        </div>
        <!--Create Survey mode section-->
        <div v-if="mode=='create'">
            <v-flex xs12>
                <!--Shows all pre defined groups-->
                <v-select
                        @change="applyGroup"
                        :items="groups"
                        item-text="name"
                        item-value="id"
                        v-model="groupSelected"
                        label="Select the group"
                        single-line
                ></v-select>
            </v-flex>
            <h4>Select Users</h4>
            <!--Data table for selecting users-->
            <v-data-table
                    :headers="headers"
                    :items="users"
                    class="elevation-1 full-width-custom"
                    :must-sort="true"
                    select-all
                    v-model="selected"
            >
                <template slot="items" slot-scope="props">
                    <v-checkbox
                            v-model="props.selected"
                            primary
                            hide-details
                    ></v-checkbox>
                    <td>{{ props.item.firstName }}</td>
                    <td>{{ props.item.lastName }}</td>
                    <td>{{ props.item.phone }}</td>
                    <td>{{ props.item.voice }}</td>
                    <td>{{ props.item.city }}</td>
                    <td>{{ props.item.studyField }}</td>
                    <td>{{ props.item.voiceGroup }}</td>
                    <td>{{ props.item.roles.join(" - ") }}</td>
                    <td>{{ props.item.mail }}</td>
                    <td>{{ props.item.activeSemesters.join(" - ") }}</td>
                </template>
            </v-data-table>
            <v-dialog v-model="dialog" :disabled="selected.length==0">
                <v-btn slot="activator" :disabled="selected.length==0" color="primary" dark class="mb-2">create survey
                    with
                    selected users
                </v-btn>
                <v-card>
                    <v-card-text>
                        <v-container grid-list-md>
                            <!--Multiple steps for registering a survey-->
                            <v-stepper v-model="e1">
                                <v-stepper-header>
                                    <!--:complete to show which step we are on-->
                                    <v-stepper-step :complete="e1 > 1" step="1">Selected Users</v-stepper-step>
                                    <v-divider></v-divider>
                                    <v-stepper-step :complete="e1 > 2" step="2">Question Info</v-stepper-step>
                                    <v-divider></v-divider>
                                    <v-stepper-step :complete="e1 > 3" step="3">Choices Info</v-stepper-step>
                                    <v-divider></v-divider>
                                    <v-stepper-step :complete="e1 > 4" step="4">New Question</v-stepper-step>
                                    <v-divider></v-divider>
                                    <v-stepper-step :complete="e1 > 5" step="5">Expiry Date</v-stepper-step>
                                    <v-divider></v-divider>
                                    <v-stepper-step step="6">Survey Name</v-stepper-step>
                                </v-stepper-header>
                                <v-stepper-items>
                                    <!--Accepting Selected users-->
                                    <v-stepper-content step="1">
                                        <v-data-table
                                                hide-actions
                                                :headers="headers"
                                                :items="selected"
                                                class="elevation-1 full-width-custom mb-5">
                                            <template slot="items" slot-scope="props">
                                                <td>{{ props.item.firstName }}</td>
                                                <td>{{ props.item.lastName }}</td>
                                                <td>{{ props.item.phone }}</td>
                                                <td>{{ props.item.voice }}</td>
                                                <td>{{ props.item.city }}</td>
                                                <td>{{ props.item.studyField }}</td>
                                                <td>{{ props.item.voiceGroup }}</td>
                                                <td>{{ props.item.roles.join(" - ") }}</td>
                                                <td>{{ props.item.mail }}</td>
                                                <td>{{ props.item.activeSemesters.join(" - ") }}</td>
                                            </template>
                                        </v-data-table>
                                        <v-btn color="primary" @click.native="e1 = 2">Continiue</v-btn>
                                        <v-btn @click.native="dialog = false" flat>Cancel</v-btn>
                                    </v-stepper-content>
                                    <!--Question name and question type selection-->
                                    <v-stepper-content step="2">
                                        <v-form ref="form" v-model="valid" lazy-validation>
                                            <v-text-field
                                                    v-model="question"
                                                    :rules="questionRules"
                                                    label="Question"
                                                    required
                                            ></v-text-field>
                                            <v-select
                                                    v-model="questionType"
                                                    :items="items"
                                                    :rules="[v => !!v || 'You need to choose one']"
                                                    label="Question type"
                                                    required
                                            ></v-select>
                                        </v-form>
                                        <v-btn color="primary" :disabled="!valid || questionType==null || question=='' "
                                               @click.native="e1 = 3">Continue
                                        </v-btn>
                                        <v-btn @click.native="getBack" flat>Get Back</v-btn>
                                    </v-stepper-content>
                                    <!--Adding choices section-->
                                    <v-stepper-content step="3">
                                        <v-layout row wrap>
                                            <v-flex v-for="(choice,num) in choices" :key="num" xs6>
                                                <v-text-field v-model="choice.body " v-on:dblclick="removeElement(num)"
                                                              :label="'Choice '+(num+1)"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                        <div class="center-flex" v-if="choices.length<5">
                                            <v-icon @click="addNewChoice" large color="blue darken-2">
                                                add_circle_outline
                                            </v-icon>
                                        </div>
                                        <v-btn :disabled="choices[0].body.trim()=='' || choices[1].body.trim()==''  "
                                               color="primary"
                                               @click="continueStep3">
                                            Continiue
                                        </v-btn>
                                        <v-btn @click.native="e1 = 2" flat>Get Back</v-btn>
                                    </v-stepper-content>

                                    <!--Previous Questions review section -->
                                    <v-stepper-content step="4">
                                        <div v-if="!edit">
                                            <h2 class="mb-4">Previous Questions</h2>
                                            <div v-for="question in questions" class="mb-5 border-bottom">
                                                <template
                                                        v-if="(question.questionNum==questionNum  && questions.length == questionNum+1)|| question.questionNum!=questionNum">
                                                    <h3>Question : </h3>
                                                    <h4 class="question mb-2">{{question.question}}</h4>
                                                    <h3>Choices : </h3>
                                                    <ul class="mb-2">
                                                        <v-layout row wrap>
                                                            <v-flex xs6 v-for="choice in question.choices ">
                                                                <li class="text-center choice">
                                                                    {{choice.body}}
                                                                </li>
                                                            </v-flex>
                                                        </v-layout>
                                                    </ul>
                                                    <div class="questionType">
                                                        <h3>Question Type : </h3>
                                                        <span>{{question.questionType}}</span>
                                                    </div>

                                                </template>
                                            </div>
                                        </div>

                                        <div v-if="edit">
                                            <h2>Previous Questions</h2>
                                            <div v-for="question in questions" class="mb-5 border-bottom">
                                                <template
                                                        v-if="(question.questionNum==questionNum  && questions.length == questionNum+1)|| question.questionNum!=questionNum">
                                                    <h3>Question : </h3>
                                                    <input class="editable" v-model="question.question" type="text">
                                                    <h3>Choices : </h3>
                                                    <ul>
                                                        <v-layout row wrap>
                                                            <v-flex xs6 v-for="choice in question.choices ">
                                                                <li class="text-center choice">
                                                                    <input class="editable" type="text"
                                                                           v-model="choice.body">
                                                                </li>
                                                            </v-flex>
                                                        </v-layout>
                                                    </ul>
                                                </template>
                                            </div>
                                        </div>

                                        <v-btn color="primary" @click="newQuestion">New Question</v-btn>
                                        <v-btn @click.native="toggleEdit" color="primary">
                                            <v-icon color="white" left>edit</v-icon>
                                            Edit
                                        </v-btn>
                                        <v-btn color="primary" @click="saveAndContiniue">Continiue</v-btn>
                                        <v-btn @click.native="e1 = 3" flat>Get Back</v-btn>

                                    </v-stepper-content>
                                    <!--Expire date selection section-->
                                    <v-stepper-content step="5">
                                        <div class="center-flex">
                                            <v-date-picker :min="formatDate(new Date())" class="mb-3" v-model="picker"
                                                           :landscape="true"
                                                           width="400" :reactive="true"></v-date-picker>
                                        </div>
                                        <v-btn :disabled="picker==null" @click.native="e1 = 6" color="primary">
                                            Continue
                                        </v-btn>
                                        <v-btn @click.native="e1 = 4" flat>Get Back</v-btn>
                                    </v-stepper-content>


                                    <!--Survey name selection section-->
                                    <v-stepper-content step="6">
                                        <div class="center-flex">
                                            <v-text-field
                                                    v-model="surveyName"
                                                    label="Survey Name"
                                                    required
                                            ></v-text-field>
                                        </div>
                                        <v-btn :disabled="picker==null" color="primary" @click="postSurvey">Post
                                            Survey
                                        </v-btn>
                                        <v-btn @click.native="e1 = 5" flat>Get Back</v-btn>
                                    </v-stepper-content>

                                </v-stepper-items>
                            </v-stepper>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <!--Shows success of creating a survey-->
            <v-snackbar
                    :timeout="6000"
                    color="green"
                    v-model="snackbar"
                    :top="true">
                Survey has been created successfully
            </v-snackbar>

            <!--Shows error when choices are empty or the same-->
            <v-snackbar
                    :timeout="6000"
                    color="red"
                    v-model="snackbarSameErr"
                    :top="true">
                Choices can't be empty or the same
            </v-snackbar>


        </div>


        <!--For editing surveys-->
        <div v-if="mode=='edit'">
            <v-flex xs6>
                <v-select
                        :items="years"
                        v-model="yearSelected"
                        label="Enter your year"
                        single-line
                ></v-select>
            </v-flex>

            <v-data-table
                    :headers="editHeaders"
                    :items="editSurveys"
                    hide-actions
                    class="full-width-custom elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td class="text-center">{{ props.item.id }}</td>
                    <td class="text-center">{{ props.item.name }}</td>
                    <td class="text-center">{{ props.item.created_at }}</td>
                    <td class="text-center">{{ props.item.expiryDate }}</td>
                    <td @click="openEditDialog(props.item.id)" class="justify-center layout px-0">
                        <v-btn icon class="mx-0">
                            <v-icon color="blue">edit</v-icon>
                        </v-btn>

                    </td>
                </template>
            </v-data-table>
        </div>


        <!--For making groups of people-->
        <div v-if="mode=='group'">
            <h4>Select People to group them</h4>
            <v-data-table
                    :headers="headers"
                    :items="users"
                    class="full-width-custom elevation-1"
                    :must-sort="true"
                    select-all
                    v-model="selectedGroup"
            >
                <template slot="items" slot-scope="props">
                    <v-checkbox
                            v-model="props.selected"
                            primary
                            hide-details
                    ></v-checkbox>
                    <td>{{ props.item.firstName }}</td>
                    <td>{{ props.item.lastName }}</td>
                    <td>{{ props.item.phone }}</td>
                    <td>{{ props.item.voice }}</td>
                    <td>{{ props.item.city }}</td>
                    <td>{{ props.item.studyField }}</td>
                    <td>{{ props.item.voiceGroup }}</td>
                    <td>{{ props.item.roles.join(" - ") }}</td>
                    <td>{{ props.item.mail }}</td>
                    <td>{{ props.item.activeSemesters.join(" - ") }}</td>
                </template>

            </v-data-table>


        </div>

        <v-dialog v-model="dialogGroup" :disabled="selectedGroup.length==0">
            <v-btn slot="activator" :disabled="selectedGroup.length==0" color="primary" dark class="mb-2">
                Group People
            </v-btn>
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>

                        <p>
                            Users
                            <span v-for="(person,index) in selectedGroup">
                                    <strong>
                                    {{person.firstName}} {{person.lastName}} <template
                                            v-if="index!=selectedGroup.length-1">,</template>
                                        </strong>
                                </span>
                            have been selected .
                        </p>
                        <v-layout xs12>
                            <v-text-field
                                    v-model="groupName"
                                    label="Enter group name"
                            ></v-text-field>
                        </v-layout>
                        <v-btn @click="createGroup" color="primary" :disabled="groupName==''" dark
                               class="mb-2 btn-center">Create Group
                        </v-btn>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>


        <!--For viewing different surveys-->
        <div v-if="mode=='view'">
            <v-flex xs6>
                <v-select
                        :items="years"
                        v-model="yearSelected"
                        label="Enter your year"
                        single-line
                ></v-select>
            </v-flex>

            <v-data-table
                    :headers="viewHeaders"
                    :items="viewSurveys"
                    hide-actions
                    class="full-width-custom elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td class="text-center">{{ props.item.id }}</td>
                    <td class="text-center">{{ props.item.name }}</td>
                    <td class="text-center">{{ props.item.created_at }}</td>
                    <td class="text-center">{{ props.item.expiryDate }}</td>
                    <td @click="openChart(props.item.id)" class="justify-center layout px-0">
                        <v-btn icon class="mx-0">
                            <v-icon color="blue">pie_chart</v-icon>
                        </v-btn>

                    </td>
                </template>
            </v-data-table>
        </div>

        <!--for deleting surveys and questions that haven't been answered-->
        <div v-if="mode=='delete'">
            <v-flex xs6>
                <v-select
                        :items="years"
                        v-model="yearSelected"
                        label="Enter your year"
                        single-line
                ></v-select>
            </v-flex>

            <v-data-table
                    :headers="deleteHeaders"
                    :items="deleteSurveys"
                    hide-actions
                    class="full-width-custom elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <tr class="cursor-pointer" @click="openSurveyForDelete(props.item.id)">
                        <td class="text-center">{{ props.item.id }}</td>
                        <td class="text-center">{{ props.item.name }}</td>
                        <td class="text-center">{{ props.item.created_at }}</td>
                        <td class="text-center">{{ props.item.expiryDate }}</td>
                    </tr>
                </template>
            </v-data-table>
            <v-dialog
                    v-model="dialogDelete"
                    fullscreen
                    hide-overlay
                    transition="dialog-bottom-transition"
            >
                <v-card tile>
                    <!--Shows error message-->
                    <v-snackbar
                            :timeout="6000"
                            color="red"
                            v-model="snackbarError"
                            :top="true">
                        People have already answered this question
                    </v-snackbar>
                    <v-toolbar card dark color="primary">
                        <v-btn icon dark @click.native="dialogDelete = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>Delete Questions</v-toolbar-title>
                    </v-toolbar>
                    <div style="flex: 1 1 auto;" class="container">
                        <div class="question-container" v-for="(question,index) in chartQuestions">
                            <h2>{{question.question}}</h2>
                            <h4>Question Type : {{question.type}}</h4>
                            <div class="choices-flex">
                                <span v-for="choice in chartData[index]"> {{choice[0]}}</span>
                            </div>
                            <v-btn @click="deleteQuestion(question.id)" color="red" dark
                                   class="mb-2 btn-center">Delete Question
                            </v-btn>
                        </div>
                        <v-btn @click="deleteSurveySelected" block color="red" dark
                               class="mt-4 btn-center">Delete Survey
                        </v-btn>
                    </div>
                </v-card>
            </v-dialog>

        </div>
    </div>

</template>
<script>
    import JsonCSV from 'vue-json-csv'

    export default {
        name: "votesManage",
        dependencies: "api",
        async mounted() {
            await this.changeActivity();
            this.init();
            this.findYears();
            this.getGroups();
        },
        components: {
            downloadCsv: JsonCSV
        },
        data() {
            return {
                editSnackbar: false,
                // snackbar for choice empty and equality error
                snackbarSameErr: false,
                // csv: csv,
                selectedSurvey: {}, //selected survey for edit section
                dialogEdit: false, //if true edit dialog will be visible
                snackbarError: false, // if true error snackbar will be visible
                selectedSurveyID: null,// id of selected survey
                dialogDelete: false,
                groupsToShow: [],
                groupSelected: null, // selected groups
                groups: [],// list of all groups
                dialogGroup: false,
                groupName: ``, // name of group
                selectedGroup: [],
                chartChoices: [],
                chartData: [], // question data in format of chart
                chartQuestions: [], // information shown in chart
                dialogChart: false,
                deleteSurveys: [],
                editSurveys: [],
                viewSurveys: [], // list of all surveys without limitation
                yearSelected: null, // selected year for view mode
                years: [], //list of all years
                surveyName: ``,
                mode: ``, // mode selected [create , edit , group , download , view]
                questionNum: 0,
                edit: false,
                questions: [],
                picker: null,
                choices: // default to choices for each question
                    [
                        {
                            body: ``
                        },
                        {
                            body: ``
                        }
                    ],
                snackbar:
                    false,
                valid:
                    false,
                name:
                    '',
                question:
                    '',
                questionRules:
                    [
                        v => !!v || 'Question is required'
                    ],
                questionType:
                    null,
                items:
                    [
                        'Single Answer',
                        'Multiple Answer'
                    ],
                checkbox:
                    false,
                e1:
                    0,
                dialog:
                    false,
                selected:
                    [],
                users:
                    [],
                // Headers of create data table
                headers:
                    [
                        {
                            text: 'First Name',
                            value: 'firstName',
                            align: 'center'
                        },
                        {
                            text: 'Last Name',
                            value: 'lastName',
                            align: 'center'
                        },
                        {
                            text: 'Phone Number',
                            value: 'phone',
                            align: 'center',
                            sortable: false
                        },
                        {
                            text: 'Voice',
                            value: 'voice',
                            align: 'center'
                        },
                        {
                            text: 'City',
                            value: 'city',
                            align: 'center'
                        },
                        {
                            text: 'Study Field',
                            value: 'studyField',
                            align: 'center'
                        },
                        {
                            text: 'Voice Group',
                            value: 'voiceGroup',
                            align: 'center'
                        },
                        {
                            text: 'Role',
                            value: 'roles',
                            align: 'center'
                        },
                        {
                            text: 'Email',
                            value: 'mail',
                            align: 'center'
                        },
                        {
                            text: 'Active Semesters',
                            value: 'activeSemesters',
                            align: 'center'
                        },
                    ],
                editHeaders: [
                    {
                        text: 'ID',
                        value: 'id',
                        align: 'center'
                    },
                    {
                        text: 'Name',
                        value: 'name',
                        align: 'center'
                    },
                    {
                        text: 'Created date',
                        value: 'created_at',
                        align: 'center'
                    },
                    {
                        text: 'Expiry date',
                        value: 'expiry_date',
                        align: 'center',
                    },
                    {
                        text: 'Edit',
                        value: 'edit',
                        sortable: false
                    },
                ],
                viewHeaders:
                    [
                        {
                            text: 'ID',
                            value: 'id',
                            align: 'center'
                        },
                        {
                            text: 'Name',
                            value: 'name',
                            align: 'center'
                        },
                        {
                            text: 'Created date',
                            value: 'created_at',
                            align: 'center'
                        },
                        {
                            text: 'Expiry date',
                            value: 'expiry_date',
                            align: 'center',
                        },
                        {
                            text: 'Chart',
                            value: 'chart',
                            sortable: false
                        },
                    ],
                deleteHeaders:
                    [
                        {
                            text: 'ID',
                            value: 'id',
                            align: 'center'
                        },
                        {
                            text: 'Name',
                            value: 'name',
                            align: 'center'
                        },
                        {
                            text: 'Created date',
                            value: 'created_at',
                            align: 'center'
                        },
                        {
                            text: 'Expiry date',
                            value: 'expiry_date',
                            align: 'center',
                        },
                    ]


            }
        },
        watch: {
            // if year selected changes , change surveys visible
            yearSelected: function (newValue, oldValue) {
                this.findSurveysAdmin(this.yearSelected.text)
            },
            mode: function (newValue, oldValue) {
                if (newValue == "delete") {
                    this.years = [];
                    this.findYears();
                }
            }
        },
        methods: {
            getBack() {
                if (this.questions.length > 1) {
                    this.e1 = 4;
                    this.questions.pop();
                    this.questions.forEach((question, index) => {
                        if (question.question == "") {
                            this.questions.splice(index, 1);
                        }
                    })
                    this.question = "";
                }
                else {
                    this.e1 = 1;
                }

            },


            // changes survey state to inactive if expire time has passed
            async changeActivity() {
                let that = this;
                await that.api("votesgroup").find({}).then(async (response) => {
                    await response.forEach(async (survey) => {
                        if (new Date(survey.expiryDate) < new Date()) {
                            await that.api("votesgroup").update(survey.id, {
                                active: false,
                                expiryDate: survey.expiryDate,
                                name: survey.name,
                                created_at: survey.created_at,
                                year: survey.year
                            }).then((responseUpdate) => {
                            })
                        }
                    })
                })
            },
            // edits name of survey
            editSurveyName(id) {
                let that = this;
                this.api("votesgroup").update(id, that.selectedSurvey).then((response) => {
                    that.editSnackbar = true;
                    that.findSurveysAdmin(that.yearSelected.text)
                })
            },
            // edits choices of survey and body of each question
            async editQuestion(id) {
                let that = this;
                await this.api("votes").update(that.chartQuestions[id].id, that.chartQuestions[id]).then((response) => {
                    console.log(response + `Question`)
                })
                await that.chartQuestions[id].choices.forEach((choice) => {
                    this.api("voteschoices").update(choice.id, choice).then((response) => {
                        console.log(response + ` Choice`)
                    })
                })
                that.editSnackbar = true;
                that.findSurveysAdmin(that.yearSelected.text)


            },
            // deletes selected survey
            deleteSurveySelected() {
                let that = this;
                this.api('votesgroup').remove(that.selectedSurveyID).then((response) => {
                    that.api("votes").remove(null, {
                        query: {
                            voteid: that.selectedSurveyID
                        }
                    }).then(async (voteResponse) => {
                        voteResponse.forEach(async (vote) => {
                            await that.api("voteschoices").remove(null, {
                                query: {
                                    idvotes: vote.id
                                }
                            })
                            location.reload()
                        })

                    })
                })
            },
            // delete a unique question
            async deleteQuestion(id) {
                let that = this;
                let counter = 0;
                await this.api("voteschoices").find({
                    query: {
                        idvotes: id
                    }
                }).then(async (response) => {
                    console.log(response)
                    response.forEach((el) => {
                        if (el.count > 0) {
                            counter = 1;
                        }
                    })

                })
                if (counter == 0) {
                    this.api("votes").remove(id).then(async (response) => {
                        await that.api("voteschoices").remove(null, {
                            query: {
                                idvotes: response.id
                            }
                        })
                        location.reload()
                    })
                }
                else {
                    that.snackbarError = true;
                    console.log('cyka')
                }
            },
            //opens delete dialog
            openSurveyForDelete(id) {
                this.selectedSurveyID = id;
                this.dialogDelete = true;
                this.getQuestions(id)
            },
            // applies selected group to people selected
            async applyGroup(selected) {
                let that = this;
                this.api('peoplegroup').find({
                    query: {
                        groupid: selected
                    }
                }).then((response) => {
                    let userIds = []
                    response.forEach((relation) => {
                        userIds.push(relation.userid)
                    })
                    if (userIds.length > 0) {
                        that.api('users').find({
                            query: {
                                id: {
                                    $in: userIds
                                }
                            }
                        }).then((userResponse) => {
                            this.selected = userResponse
                        })
                    }
                })

            },

            // gets all groups
            async getGroups() {
                let that = this;
                this.api('groups').find().then((response) => {
                    that.groups = response
                    response.forEach((el) => {
                        that.groupsToShow.push(el.name)
                    })
                })
            },
            // This method creates groups and is called when group people button is called
            async createGroup() {
                let that = this;
                let id;
                await this.api("groups").create({
                    name: that.groupName
                }).then((res) => {
                    id = res.id
                })
                await this.selectedGroup.forEach(async function (user) {
                    await that.api("peoplegroup").create({
                        groupid: id,
                        userid: user.id
                    })
                })
                this.selectedGroup = [];
                this.groupName = '';
                this.dialogGroup = false;
            },
            // get questions of a survey and joins the choices to questions
            async getQuestions(id) {
                let chartChoices = []
                let that = this;
                that.api('votes').find({
                    query: {
                        voteid: id
                    }
                }).then(async (response) => {
                    that.chartQuestions = response;
                    await that.chartQuestions.forEach(async function (question, index) {
                        chartChoices.push([])
                        await that.api('voteschoices').find({
                            query: {
                                idvotes: question.id
                            }
                        }).then((choiceResponse) => {
                            choiceResponse.forEach((choice, choiceIndex) => {
                                chartChoices[index].push(choice)
                            })
                        })
                    })
                    setTimeout(function () {
                        chartChoices = Array.from(chartChoices)
                        that.chartData = []
                        chartChoices.forEach((question, index) => {
                            that.chartData.push([])
                            question.forEach((choice) => {
                                that.chartData[index].push([choice.choice, choice.count])
                            })
                        })
                    }, 1000);

                })
            },
            openChart(id) {
                this.dialogChart = true;
                this.getQuestions(id)
            },
            async openEditDialog(id) {
                let that = this;
                this.selectedSurveyID = id;
                this.api("votesgroup").find({
                    query: {
                        id: that.selectedSurveyID
                    }
                }).then((response) => {
                    that.selectedSurvey = response[0]
                })
                this.dialogEdit = true;
                await this.getQuestions(id);
                setTimeout(function () {
                    that.chartQuestions.forEach((question) => {
                        that.api("voteschoices").find({
                            query: {
                                idvotes: question.id
                            }
                        }).then((choice) => {
                            question.choices = choice;
                        })
                    })

                }, 1000)
            },
            // Find surveys without limitation by passing year
            findSurveysAdmin(year) {
                let that = this;
                this.api('votesgroup').find({
                    query: {
                        year: that.year
                    }
                }).then((response) => {
                    that.viewSurveys = response;
                    that.deleteSurveys = response;
                    that.editSurveys = response;
                })
            },
            // find years of all surveys
            findYears: async function () {
                let that = this;
                that.api('votesgroup').find().then((response) => {
                    let years = []
                    response.forEach((survey) => {
                        if (!years.includes(survey.year)) {
                            years.push(survey.year);
                            that.years.push({
                                text: `${survey.year}`
                            })
                        }
                    })
                })
            },
            // selecting a mode
            selectMode(mode) {
                this.mode = mode;
            },

            toggleEdit() {
                if (this.edit) {
                    this.edit = false;
                }
                else {
                    this.edit = true;
                }
            },
            async continueStep3() {
                let errorFlag = 0;
                for (let i = 0; i < this.choices.length; i++) {
                    console.log('test1')
                    if (this.choices[i].body == "") {
                        errorFlag = 1;
                    }
                    for (let j = i + 1; j < this.choices.length; j++) {
                        if (this.choices[i].body == this.choices[j].body) {
                            errorFlag = 1;
                        }
                    }
                }
                if (errorFlag == 1) {
                    this.snackbarSameErr = true;
                }
                else {
                    await this.saveAndContiniue();
                    this.e1 = 4;
                }
            },
            saveAndContiniue() {
                let flag = 0
                let equalNum = 0;
                this.questions.forEach((question) => {
                    if (question.questionNum > this.questionNum && flag == 0) {
                        flag = 1;
                    }
                    if (question.questionNum == this.questionNum) {
                        flag = 2;
                        equalNum = question.questionNum;
                    }
                })
                if (this.question != "") {
                    if (flag == 0) {
                        this.questions.push({
                            question: this.question,
                            choices: this.choices,
                            questionType: this.questionType,
                            questionNum: this.questionNum
                        })
                    }
                    if (flag == 2) {
                        this.questions.splice(equalNum, 1)
                        this.questions.push({
                            question: this.question,
                            choices: this.choices,
                            questionType: this.questionType,
                            questionNum: this.questionNum
                        })
                    }
                }
                this.e1 = 5;

            },
            // to create a new question for the survey
            newQuestion() {
                let flag = 0
                let equalNum = 0;
                this.questions.forEach((question) => {
                    if (question.questionNum > this.questionNum && flag == 0) {
                        flag = 1;
                    }
                    if (question.questionNum == this.questionNum) {
                        flag = 2;
                        equalNum = question.questionNum;
                    }
                })
                if (flag == 0) {
                    this.questions.push({
                        question: this.question,
                        choices: this.choices,
                        questionType: this.questionType,
                        questionNum: this.questionNum
                    })
                }
                if (flag == 2) {
                    this.questions.splice(equalNum, 1)
                    this.questions.push({
                        question: this.question,
                        choices: this.choices,
                        questionType: this.questionType,
                        questionNum: this.questionNum
                    })
                }
                this.questionNum += 1;
                this.questions.push({
                    question: this.question,
                    choices: this.choices,
                    questionType: this.questionType,
                    questionNum: this.questionNum
                })
                this.choices = [
                    {
                        body: ``
                    },
                    {
                        body: ``
                    }
                ]
                this.question = ``
                this.questionType = null;
                this.e1 = 2;
            },
            //Formats date into YYYY-MM-DD
            formatDate(date) {
                let month = `${date.getMonth() + 1}`;
                let day = `${date.getDate()}`;
                const year = date.getFullYear();

                if (month.length < 2) month = `0${month}`;
                if (day.length < 2) day = `0${day}`;

                return [year, month, day].join('-');
            },
            removeElement(num) {
                this.choices.splice(num, 1)
            },
            // Find all users
            init() {
                this.api("users").find({}).then((response) => {
                    this.users = response
                })
            },

            postSurvey() {
                let that = this;
                this.api("votesgroup").create({
                    active: true,
                    expiryDate: this.picker,
                    name: that.surveyName
                }).then((res) => {
                    (async function () {
                        that.questions.forEach(async function (question) {
                            await new Promise((resolve) => {
                                that.api("votes").create({
                                    question: question.question,
                                    voteid: res.id,
                                    type: question.questionType
                                }).then((votesRes) => {
                                    (async function () {
                                        question.choices.forEach(async function (choice) {
                                            if (choice.body.trim() != 0) {
                                                await new Promise((resolve) => {
                                                    that.api("voteschoices").create({
                                                        choice: choice.body,
                                                        count: 0,
                                                        idvotes: votesRes.id
                                                    }).then(() => {
                                                        resolve()
                                                    })
                                                })
                                            }
                                        })
                                    })();
                                    resolve()
                                })
                            })
                        })
                    })();

                    (async function () {
                        that.selected.forEach(async function (user) {
                            await new Promise((resolve) => {
                                that.api("votespeople").create({
                                    voteid: res.id,
                                    userid: user.id
                                }).then(() => {
                                    resolve()
                                })
                            })
                        })
                    })();

                    let i = 0;
                    that.dialog = false;
                    that.snackbar = true;
                })
            },
            addNewChoice() {
                this.choices.push({
                    body: ``
                })

            }
        }
    }
</script>

<style lang="scss">
    table.table .input-group--selection-controls {
        min-height: 68px;
    }

    .full-width-custom {
        display: block;
        margin: auto;
        max-width: 800px;
        width: 800px;
        height: 100%;
    }

    .datatable--select-all {
        position: sticky;
        bottom: 0;
    }

    tfoot {
        position: sticky;
        bottom: 0;
    }

    .btn-center {
        display: block;
        margin: 0 auto;
    }

    .dialog__container {
        margin-top: 20px;
        margin-bottom: 20px;
        position: sticky;
        bottom: 0;
        z-index: 20;
    }

    .center-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    li {
        list-style: none;
    }

    .text-center {
        text-align: center;
    }

    .question {
        font-size: 20px;
        color: #666666;

    }

    .choice {
        text-align: left;

    }

    .border-bottom {
        border-bottom: 2px solid #666;
        padding-bottom: 10px;
    }

    .editable {
        min-height: 30px;
        width: 100%;
        border-bottom: 2px solid #1976d2;
        outline: none;
    }

    .questionType {
        display: flex;
        align-items: center;
        span {
            margin-left: 40px;
        }
    }

    .mode-container {
        margin-top: -36px;
        min-height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        div {
            span {
                font-size: large;
            }
            &:hover {
                background: #3f51b4;
                color: white;
                i {
                    color: white;
                }
                cursor: pointer;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .collapsed-mode {
        margin-bottom: 10px;
        background: #3f51b4;
        i {
            font-size: 20px !important;
        }
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        min-height: 5vh !important;
        div {
            span {
                font-size: medium !important;
                display: none;
            }
        }

    }

    .question-container {
        padding: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #3f51b4;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .choices-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px auto;
    }

    .flex-space-evenly {
        justify-content: space-evenly !important;
    }

    .header-input {
        padding: 10px;
        color: #000;
        font-size: xx-large;
        background: lightgray;
        width: 100%;
        outline: none;
        font-weight: bold;

    }

    .full-height {
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .stacked {
        display: flex;
        flex-direction: column;
        span {
        }
    }
</style>
