<template>
    <div class="centered">
        <h4>Umfragen</h4>


        <!--Dialog showing differing questions of survey-->
        <v-dialog max-width="800px" v-model="dialog1">
            <v-card class="container">
                <div class="question" v-for="question in questions">
                    <span class="question-body">{{question.question}}</span>
                    <div class="question-actions">
                        <v-btn :disabled="question.done"
                               @click="openAnsweringDialog(question.id,question.type,question)" block
                               color="primary">
                            Answer
                        </v-btn>
                    </div>
                    <span class="red--text" v-if="question.done">You've already answered this</span>
                </div>

                <v-btn color="primary" @click="sendSurvey">
                    Send Survey
                </v-btn>

            </v-card>
        </v-dialog>


        <!--Dialog user can answer questions through-->
        <v-dialog v-model="dialog2" max-width="800px">
            <v-card class="container">
                <template v-if="type=='Single Answer'">
                    {{currentQuestion.question}}
                    <v-container fluid>
                        <v-radio-group v-model="radios" :mandatory="false">
                            <v-radio v-for="choice in choices" :label="choice.choice" :value="choice.id"></v-radio>
                        </v-radio-group>
                        <v-btn @click="addSingle" :disabled="radios==''" color="primary">Accept</v-btn>
                    </v-container>
                </template>
                <template v-if="type=='Multiple Answer'">
                    {{currentQuestion.question}}
                    <v-container fluid>
                        <v-checkbox v-for="choice in choices" v-model="selected" :label="choice.choice"
                                    :value="choice.id"></v-checkbox>
                    </v-container>
                    <v-btn @click="addMulti" :disabled="selected.length==0" color="primary">Accept</v-btn>
                </template>
            </v-card>
        </v-dialog>


        <!--Data table containing all surveys that were assigned to user and haven't been expired yet-->
        <div class="full-width-custom">
            <v-data-table
                    :headers="headers"
                    :items="surveys"
                    class="elevation-1 full-width-custom"
                    :must-sort="true"
            >
                <template slot="items" slot-scope="props">
                    <tr @click="openSurvey(props.item.id)">
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.active }}</td>
                        <td>{{ props.item.expiryDate }}</td>
                    </tr>
                </template>

            </v-data-table>
        </div>
    </div>
</template>
<script>

    export default {
        name: "votes",
        methods: {
            // If surveys expire time has been passed it will set active field of survey to false
            async changeActivity() {
                let that = this;
                await that.api("votesgroup").find({}).then(async (response) => {
                    await response.forEach(async (survey) => {
                        if (new Date(survey.expiryDate) < new Date()) {
                            await that.api("votesgroup").update(survey.id, {
                                active: false,
                                expiryDate: survey.expiryDate,
                                name: survey.name,
                                created_at: survey.name,
                                year: survey.name
                            }).then((responseUpdate) => {
                            })
                        }
                    })
                })
            },
            // Find all different surveys' years
            findYears: async function () {
                let that = this;
                that.api('votesgroup').find().then((response) => {
                    let years = []
                    response.forEach((survey) => {
                        if (!years.includes(survey.year)) {
                            years.push(survey.year);
                            that.years.push({
                                text: `${survey.year}`
                            })
                        }
                    })
                })
            },
            // question of survey after answering questions
            sendSurvey: async function () {
                let that = this;
                that.surveyToSend.forEach(async (survey) => {
                    if (Array.isArray(survey.choiceId)) {
                        survey.choiceId.forEach(async (id) => {
                            await that.api("peoplechoices").create({
                                idusers: that.auth.user.id,
                                idvote: survey.questionId,
                                idchoice: id
                            })
                            that.api("voteschoices").find({
                                query: {
                                    id: id
                                }
                            }).then(async (response) => {
                                await  that.api("voteschoices").update(id, {
                                    count: response[0].count + 1,
                                    choice: response[0].choice,
                                    idvotes: response[0].idvotes
                                })
                            })
                        })
                    }
                    else {
                        await that.api("peoplechoices").create({
                            idusers: that.auth.user.id,
                            idvote: survey.questionId,
                            idchoice: survey.choiceId
                        })
                        that.api("voteschoices").find({
                            query: {
                                id: survey.choiceId
                            }
                        }).then(async (response) => {
                            await  that.api("voteschoices").update(survey.choiceId, {
                                count: response[0].count + 1,
                                choice: response[0].choice,
                                idvotes: response[0].idvotes
                            })
                        })
                    }
                })
                that.dialog1 = false;
            },
            // Adds a single choice answer to surveyToSend
            addSingle() {
                let that = this;
                that.surveyToSend.forEach((question, index) => {
                    if (question.questionId == that.currentQuestion.id) {
                        that.surveyToSend.splice(index, 1)
                    }
                })
                that.surveyToSend.push({
                    questionId: that.currentQuestion.id,
                    choiceId: that.radios,
                    personId: that.auth.user.id
                })
                that.dialog2 = false;
            },
            // Adds a multiple choice answer to surveyToSend
            addMulti() {
                let that = this;
                that.surveyToSend.forEach((question, index) => {
                    if (question.questionId == that.currentQuestion.id) {
                        that.surveyToSend.splice(index, 1)
                    }
                })
                that.surveyToSend.push({
                    questionId: that.currentQuestion.id,
                    choiceId: that.selected,
                    personId: that.auth.user.id
                })
                that.dialog2 = false;
            },
            // finds questions of clicked survey and opens dialog
            openSurvey(id) {
                let that = this;
                this.surveyToSend = [];
                this.dialog1 = true;
                this.api("votes").find({
                    query: {
                        voteid: id
                    }
                }).then((response) => {
                    that.questions = response;
                    that.api("votes").find({
                        query: {
                            voteid: id
                        }
                    }).then((voteResponse) => {
                        console.log(voteResponse)
                        let ids = [];
                        voteResponse.forEach((vote) => {
                            ids.push(vote.id)
                        })
                        console.log(ids)
                        that.api("peoplechoices").find({
                            query: {
                                idvote: {
                                    $in: ids
                                },
                                idusers: that.auth.user.id
                            }
                        }).then((responseChoice) => {
                            console.log(responseChoice)
                            responseChoice.forEach((singleChoice, choiceIndex) => {
                                that.questions.forEach((singleQuestion, questionIndex) => {
                                    if (singleChoice.idvote == singleQuestion.id) {
                                        that.questions[questionIndex].done = true;
                                    }
                                })
                            })
                        })

                    })
                })
            },
            // opens dialog for answering questions
            openAnsweringDialog(questionID, type, currentQuestion) {
                let that = this;
                setTimeout(function () {
                    if (currentQuestion.done) {
                        that.dialog2 = false;
                    }
                }, 100)
                that.currentQuestion = currentQuestion;
                this.dialog2 = true;
                this.type = type;
                this.api("voteschoices").find({
                    query: {
                        idvotes: questionID
                    }
                }).then((response) => {
                    that.choices = response
                })
            }
        },
        watch: {},
        data() {
            return {
                yearSelected: null,
                years: [],
                renderComponent: true,
                surveyToSend: [],
                selected: [],
                radios: ``,
                type: ``,
                currentQuestion: ``,
                dialog1: false,
                dialog2: false,
                surveys: [],
                voteGroups: [],
                choices: [],
                // headers of data table
                headers: [
                    {
                        text: 'Name',
                        value: 'name',
                        align: 'center'
                    },
                    {
                        text: 'State',
                        value: 'state',
                        align: 'center'
                    },
                    {
                        text: 'Expire Date',
                        value: 'expiryDate',
                        align: 'center'
                    }
                ],
                questions: []
            }
        },
        dependencies: ["auth", "api"],
        async mounted() {
            await this.changeActivity();
            let that = this;
            this.api("votespeople").find({
                query: {
                    userid: this.auth.user.id
                }
            }).then(async function (groupResponse) {
                let groupIds = []
                groupResponse.forEach((group) => {
                    groupIds.push(group.voteid)
                })
                if (groupIds.length > 0) {
                    that.api("votesgroup").find({
                        query: {
                            id: {
                                $in: groupIds
                            },
                            active: 1
                        }
                    }).then((votesResponse) => {
                        // if not admin
                        that.surveys = votesResponse
                    })
                }

            })
        }
    };
</script>

<style lang="scss">
    .full-width-custom {
        display: block;
        margin: auto;
        width: 70vw;
        max-width: 70vw;
    }

    td {
        text-align: center;
    }

    tr {
        cursor: pointer;
    }

    .question-body {
        font-size: 18px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .question {
        margin-top: 10px;
        min-height: 140px;
        background: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .question-actions {
            width: 20%;
        }
        .min-height-50 {
            min-height: 50vh;
        }
    }

    .fill-height {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
