<template>
  <v-layout>
    <v-flex>
      <h1></h1>
      <v-data-table
        class="elevation-1"
        v-if="events !== null"
        :items="events"
        :headers="headers"
        :hide-actions="true"
        no-data-text="Keine Veranstaltung vorhanden"
        style="height: calc(100% - 42px)"
      >
        <!-- template footer ('new entry' button) -->
        <template slot="footer">
          <td colspan="100%">
            <v-btn class="mt-2" @click.native="createItem()">Neuer Eintrag</v-btn>
          </td>
        </template>

        <!-- template for actual rows -->
        <template slot="items" slot-scope="props">

          <td>
            <!-- actual lookup entry name -->
            {{ props.item.title }}
          </td>

          <td>
            <!-- actual lookup entry name -->
            {{ props.item.date.split('T')[0] }}
          </td>
          <td>
            <!-- actual lookup entry name -->
            {{ props.item.address }}
          </td>
          <td>
            <!-- actual lookup entry name -->
            <img  :src="props.item.file1"  width="50px" />

          </td>

          <!--<td>{{CountJoin(props.item.id)}}</td> -->
          <td align="right">

            <!-- button: edit entry -->
            <v-tooltip top>
              <v-btn @click.native="editItem(props.item)" slot="activator" color="primary" fab small dark>
                <v-icon>edit</v-icon>
              </v-btn>
              <span>Eintrag editieren</span>
            </v-tooltip>

            <!-- button: delete entry -->
            <v-tooltip top>
              <v-btn @click.native="deleteItem(props.item)" slot="activator" color="error" fab small dark>
                <v-icon>delete</v-icon>
              </v-btn>
              <span>Eintrag löschen</span>
            </v-tooltip>



          </td>
        </template>
      </v-data-table>

      <!-- edit dialog -->
      <v-dialog v-model="edit.dialog">
        <v-card>
          <v-card-title>
            <span v-if="edit.item.id">Eintrag editieren</span>
            <span v-else>Neuer Eintrag</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                <v-text-field ref="textfield" label="Alter : soll 13-40 " v-model="edit.item.title"   type="number" min="1" max="5" :rules="ageRules" ></v-text-field>
                  <!-- <v-text-field
                    label="Beschreibung"
                    textarea
                    v-model="edit.item.desc"
                    ref="textfield"
                  ></v-text-field> -->


                <!-- <v-text-field ref="textfield" label="Tag Beginn des Zyklus: der Erste Tag in Blutung " v-model="edit.item.location"></v-text-field> -->
                  <v-text-field ref="textfield" label="Gewicht" v-model="edit.item.address" type="number" :rules="weightRules"></v-text-field>

                  <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="edit.item.date"
                          label="Tag Beginn des Zyklus: der Erste Tag in Blutung"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        ref="picker"
                        v-model="edit.item.date"
                        min="1950-01-01"
                        @change="save"
                      ></v-date-picker>
                    </v-menu>

                </v-flex>
                <v-flex xs12>
                  <v-btn color="blue darken-1" :disabled="!edit.item.title" flat @click.native="saveItem()">Speichern</v-btn>
                  <v-btn color="red darken-1" flat @click.native="edit.dialog = false">Abbrechen</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>
<script>

  import Datepicker from "vuejs-datepicker";
  import FileUpload from 'vue-upload-component';
  import marked from "marked";
  export default {
    name: "event",
    components: {
      FileUpload,
      Datepicker
    },
    // depend on feathers. adding this adds 'this.api' to the instance
    dependencies: ["api"],
    watch:{
      menu (val) {
         val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
},
    data() {
      return {
        ageRules: [
          (input) => !(input > 13 && input < 41) ? "Fehler" : true
        ],
        weightRules: [
          (input) => !(input > 30 && input < 151) ? "Fehler" : true
        ],
        menu:false,
        joinevents:null,
        userShow:false,
        url: 'http://localhost:8080/test.php',
        headers1: {},
        filesUploaded: [],
        center: {
          lat: 48.853,
          lng: 2.298,
        },
        markerCenter: {
          lat: 48.853,
          lng: 2.298,
        },
        path: [
          {
            lat: 48.853,
            lng: 2.298,
          },
          {
            lat: 48.8735,
            lng: 2.2951,
          },
        ],
          mapOptions: {
      },
        userPosition: null,
          zoom: 12,
        // start with no data loaded
        events: null,
        // information about the currently edited element
        edit: {
          // if true edit dialog is shown
          dialog: false,
          // item to edit
          item: {}
        },
        // header definition for data table
        headers: [
          {text: "Alter", value: "text", align: "left"},
        //  {text: "Beschreibung", value: "text", align: "left", sortable: false},
          {text: "Datum", value: "date", align: "left"},
          {text: "Gewicht", value: "text", align: "left", sortable: false},
        //  {text: "Bild", value: "text", align: "left", sortable: false},
          //{text: "Anzahl der Teilnehmer", value: "text", align: "left"},
          // empty header for buttons
          {text: "", sortable: false}
        ],
      }
    },
    methods: {
      save (date) {
    this.$refs.menu.save(date)
  },
      ListUser(eid){

      },
      CountJoin(id){
        var cnt = 0;
        for (var i = 0; i < this.joinevents.length; i++){
          if (this.joinevents[i].eid == id){
            cnt++;
          }
        }
        return cnt;
      },
      compiledMarkdown (e) {
        return marked(e);
      },
      inputFilter(newFile, oldFile, prevent) {
        if (newFile && !oldFile) {
          // Before adding a file
          // Filter system files or hide files
          if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
            return prevent()
          }
          // Filter php html js file
          if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
            return prevent()
          }
        }
      },
      inputFile(newFile, oldFile) {
        if (newFile && !oldFile) {
          // add
          console.log('add', newFile)
        }
        if (newFile && oldFile) {
          // update
          if(typeof newFile.response == "string")
          {
            var j = JSON.parse( newFile.response);
            if(j.succ)
              this.edit.item.file1 = j.file;
            console.log( j);
          }

        }
        if (!newFile && oldFile) {
          // remove
          console.log('remove', oldFile)
        }
      },
      inputFilterAudio(newFile, oldFile, prevent) {
        if (newFile && !oldFile) {
          // Before adding a file
          // Filter system files or hide files
          if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
            return prevent()
          }
          // Filter php html js file
          if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
            return prevent()
          }
        }
      },
      inputFileAudio(newFile, oldFile) {
        if (newFile && !oldFile) {
          // add
          console.log('add', newFile)
        }
        if (newFile && oldFile) {
          // update
          if(typeof newFile.response == "string")
          {
            console.log( newFile.response)
            var j = JSON.parse( newFile.response);
            console.log( j)
            if(j.succ)
              this.edit.item.file2 = j.file;
            console.log( j);
          }

        }
        if (!newFile && oldFile) {
          // remove
          console.log('remove', oldFile)
        }
      },
      setUserPosition(position){
        this.userPosition = position
        this.center = this.userPosition
      },
      selectMarker(posmarker){
        console.log(posmarker);
        this.edit.item.location =posmarker.latLng.lat() +","+ posmarker.latLng.lng();  ;
      },
      deleteItem(item){
        if(confirm(`Eintrag '${item.title}' wirklich löschen?`)) {
          this.api("events")
            .remove(item.id)
            .then(() => this.reload());
        }
      },
      // save (i.e. edit or create) the item modified in the dialog
      saveItem(){
        if(this.edit.item.id) {
          // existing item
          this.api("events")
            .patch(this.edit.item.id, {
              title: this.edit.item.title,
              desc: this.edit.item.desc,
              date: this.edit.item.date,
              location: this.edit.item.location,
              address: this.edit.item.address
              // file1:this.edit.item.file1.includes("http://localhost:8080/uploads/") ? this.edit.item.file1 :  "http://localhost:8080/uploads/" + this.edit.item.file1,
              // file2: this.edit.item.file2.includes("http://localhost:8080/uploads/") ? this.edit.item.file2 : "http://localhost:8080/uploads/" + this.edit.item.file2
            })
            .then(() => this.reload());
        } else {
          // new item
          this.api("events")
            .create({
              title: this.edit.item.title,
              desc: this.edit.item.desc,
              date: this.edit.item.date,
              location: this.edit.item.location,
              address: this.edit.item.address,
              // file1:  this.edit.item.file1.includes("http://localhost:8080/uploads/") ? this.edit.item.file1 :  "http://localhost:8080/uploads/" + this.edit.item.file1,
              // file2:  this.edit.item.file2.includes("http://localhost:8080/uploads/") ? this.edit.item.file2 :"http://localhost:8080/uploads/" + this.edit.item.file2
            })
            .then(() => this.reload());
        }
        this.edit.dialog = false;
      },
      // show dialog to create new item
      createItem() {
        window.f = this.$refs.textfield;
        this.edit.item = {};
        this.edit.dialog = true;
        this.markerCenter = this.center;
        // set focus to text field
        //this.$nextTick(this.$refs.textfield.focus);
      },
      // show dialog to edit item
      editItem(item) {
        this.edit.item = item;
        this.edit.dialog = true;
        console.log(this.center )
        if(item.location){
          this.center = this.markerCenter = {lat:Number( item.location.split(",")[0]),
            lng:Number( item.location.split(",")[1])};
          console.log(this.center )
        }
        else{
          this.markerCenter = this.center;
        }
        // set focus to text field
        this.$nextTick(this.$refs.textfield.focus);
      },
      // (re-)load entries from database (feathers)
      reload() {
        // feathers api documentation for service: https://docs.feathersjs.com/api/databases/common.html
        this.api("events").find({
          query: {
            $sort: {
              // sort by name
              title: 1
            }
          }
        })
          .then(data => {
            // data loaded successfully, assign to local instance (defined with 'data')
            this.events = data;
            console.log(data);
          });
        this.api("joinevents").find({
          query: {
            $sort: {
              // sort by name
              date: 2
            }
          }
        }).then(data => {
            this.joinevents = data;
          });
      }
    },
    mounted() {
      // load data when started
      this.reload();
    }
  };
</script>
