| Unichor Marburg: Neues Passwort
| Hallo #{firstName}!
|
| Du hast in der Mitgliederverwaltung des Unichors Marburg ein neues Kennwort angefordert.
|
| Dein neues Kennwort lautet: #{password}.
|
| Dein Unichor Marburg
